
<div  id="alert-message" class="alert alert-{{typeAlert}}" transition="success" v-if="success">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<i class="fa fa-thumbs-o-up text-center">&nbsp;&nbsp; {{msgSucess}}</i>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-inline pull-right">
			<div class="input-group">
				<select data-toggle="tooltip" title="A mostrar linhas na tabela" class="selectpicker show-tick show-menu-arrow" data-style="btn-primary" name="" v-model="showRow" @change="fetchPlace(1, showRow)">
					<option class="" value="5">05</option>
					<option class="" value="10" selected>10</option>
					<option class="" value="20">20</option>
					<option class="" value="50">50</option>
					<option class="" value="100">100</option>
					<option class="" value="200">200</option>
				</select>
			</div>
			<div class="input-group">
				<select data-toggle="tooltip" title="Escolhe as colunas a serem filtrados" class="selectpicker show-tick show-menu-arrow" data-style="btn-primary" name="" v-model="columnsFiltered" multiple="multiple" v-el:placecols>
					<option class="" value="name">Nome</option>
					<option class="" value="description">Descrição</option>
					<option class="" value="price">Valor</option>
				</select>
			</div>
			<div v-if="columnsFiltered.length != 0" class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input data-toggle="tooltip" title="Escreva o valor a ser procurado na Tabela"
				v-model="filter.term"
				@keyup="doFilter"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>

			<div v-else class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input :disabled="columnsFiltered.length == 0" data-toggle="tooltip" title="Para ativar introduza um valor na Coluna"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-10">
		<div class="btn-group">
			<button v-if = "types.length > 0" @click="clearField" class="btn btn-primary btn-flat btn-outline pull-left" name="button" data-toggle="modal" data-target="#modal-create-place"><i class="fa fa-plus"></i> Novo</button>
			<button v-else data-toggle="tooltip" title="O espaço tem de pertencer uma categoria (Crie um tipo de espaço)" type="button" class="btn btn-danger btn-flat"><i class="fa fa-minus"></i> Novo</button>
		</div>

		<div class="btn-group">
			<a  v-if = "places.length > 0" class="btn btn-primary btn-flat btn-outline" href="#"><i class="fa fa-print"></i> Imprimir</a>
		</div>

		<div class="btn-group">
				<a class="btn btn-primary btn-flat btn-outline" href="#"><i class="fa fa-upload"></i> Importar</a>
			</div>

			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-flat btn-outline"><i class="fa fa-download"></i> Exportar</button>
				<button type="button" class="btn btn-primary btn-flat btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu" role="menu"  id="export-menu">
					<li id="export-to-excel"><a href="#"><i class="fa fa-file-excel-o"> </i>Exportar para Excel</a></li>
					<li role="separator" class="divider"></li>
					<li id="export-to-pdf"><a href="#"><i class="fa fa-file-pdf-o"></i> Exportar para PDF</a></li>
				</ul>
			</div>


		<div class="btn-group">
			<a  v-if = "places.length > 0" class="btn btn-primary btn-flat btn-outline" href="#"><i class="fa fa-envelope-o"></i> Enviar</a>
		</div>
	</div>

	<div class="col-md-2 pull-left">
		<div class="btn-group">
			<button data-toggle="modal" data-target="#deleteAll" v-if="deleteMultIten.length > 0" class="btn btn-danger btn-flat btn-outline"  type="button" name="button"><i class="fa fa-trash-o"></i> Apagar Todos</button>
		</div>
	</div>


	<div class="modal fade" id="deleteAll" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
				</div>
				<div class="modal-body">
					<h5 class="text-center">Eliminar {{deleteMultIten.length}} Espaço(s)?</h5>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>
					<button  @click = "deleteMultPlace" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-12">
		<div class='table-responsive'>
			<table class='table table-striped table-hover'>
				<thead>
					<tr>
						<th><input :disabled="canDeleteAll()" type="checkbox" name="" value="" @click="selectAll" v-model="allSelected"></th>

						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'name')">Nome</a>
						</th>
						<th class="info" v-if="showColumn.price">
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'price' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'price' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'price')">Valor</a>
						</th>
						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'status' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'status' &&   sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'status')">Estado</a>
						</th>

						<th class="info" v-if="showColumn.typeofplace_id">
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'typeofplace_id' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'typeofplace_id' &&   sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'typeofplace_id')">Tipo</a>
						</th>
						<th  class="text-center" colspan="2"><i class="fa fa-cogs"></i> <span class="text-primary">Operações</span></th>

					</tr>
				</thead>
				<tbody>
					<tr v-for="place in places | orderBy sortColumn sortInverse">
						<td><input :disabled="place.contract != null || place.taxation != null" type="checkbox" name="" v-model="deleteMultIten" :value="place.id"></td>

						<td>{{ place.name }}</td>
						<td class="info" v-if="showColumn.price">{{ place.price }} ECV</td>
						<td v-if="place.typeofplace_id != 1">
							<span :class="{ 'label-danger': place.status, 'label-success': !place.status }" class="label">{{place.status ? 'Ocupado' : 'Livre'}}</span>
						</td>
						
						<td v-else>
							<span><i class="fa fa-map-marker"></i></span>
						</td>

						<td align=center>  <a  href="#" class="btn btn-default btn-xs" data-toggle="modal" data-target="#show-place" @click="getThisPlace(place.id)"><i class="fa fa-eye text-success"></i></a></td>



						<td align=center>  <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-edit-place" href="#" @click="getThisPlace(place.id)" > <i class="fa fa-edit text-primary"> </i></a></td>
						<!---------------------------------------------------------------------------->
						<td v-if="( place.contract == null && place.taxation == null) " align=center><a class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-delete-place" href="#" @click="getThisPlace(place.id)" ><i class="fa fa-trash text-danger"></i></a></td>

						<td v-else align=center><a class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-undeleted-place" href="#" @click="getThisPlace(place.id)"><i class="fa fa-ban text-warning"></i></a></td>
						<!---------------------------------------------------------------------------->

					</tr>
				</tbody>
			</table>
			<div class="row">
				<div v-if="pagination.total > showRow" class="col-md-6 pull-left">
					<Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
				</div>
				<div class="col-md-6 pull-right">
					<h6 class="text-right text-help"> Mostrar de <span class="badge">{{pagination.from}}</span>  a <span class="badge">{{pagination.to}}</span>  no total de <span class="badge">{{pagination.total}}</span></h6>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->
		<div id="show-place" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-eye faa-flash animated faa-slow text-success"></i> {{ newPlace.name }}</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<div class='table-responsive'>
									<table class='table table-hover'>
										<thead>
											<tr>
												<th class="text-center" colspan="2">INFORMAÇOES DO ESPAÇO</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><b>Nome</b></td>
												<td><i>{{ newPlace.name }}</i></td>
											</tr>
											<tr>
												<td><b>Demensão</b></td>
												<td><i>{{ newPlace.dimension }} mm</i></td>
											</tr>
											<tr>
												<td><b>Valor</b></td>
												<td><span class="label label-info"><i>{{ newPlace.price }} ECV</i></span></td>

											</tr>

											<tr>
												<td><b>Estado</b></td>
												<td><span class="label" :class="{ 'label-danger': newPlace.status, 'label-success': !newPlace.status }"><i>{{newPlace.status ? 'Ativado' : 'Disativado'}}</i></span></td>
											</tr>

											<tr>
												<td><b>Tipo</b></td>
												<td><i>{{ newPlace.type.name }}</i></td>
											</tr>



											<tr>
												<td><b>Data da criação</b></td>
												<td><i>{{ newPlace.created_at | formatDate 'DD/MM/YYYY' }}</i></td>
											</tr>
											<tr>
												<td><b>Data de atualização</b></td>
												<td><i>{{ newPlace.updated_at | formatDate 'DD/MM/YYYY' }}</i></td>
											</tr>

											<tr  class="success" v-if="newPlace.traders.length != 0">
												<td><b>Ocupado por</b></td>
												<td v-for="trader in newPlace.traders">
													<span class="label label-success">{{trader.name}}</span>
												</td>
											</tr>

											<tr>
												<td><b>Descrição</b></td>
												<td><i>{{ newPlace.description }}</i></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i></button>
					</div>
				</div>

			</div>
		</div>
		<!--------------------------------------------------------------------------------------------------------->
		<div class="modal fade" id="modal-delete-place" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
					</div>
					<div class="modal-body">
						<h5 class="text-center">Eliminar {{newPlace.name}}</h5>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>
						<button  @keyup.enter="deletePlace(newPlace.id)" @click="deletePlace(newPlace.id)" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
					</div>
				</div>
			</div>
		</div>



		<div class="modal fade" id="modal-undeleted-place" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id=""><i class='fa fa-ban text-danger'></i></h4>
					</div>
					<div class="modal-body">
						<h5 class="text-center"><span class="text-danger">{{newPlace.name}}</span> Relaciona com outros registos</h5>
					</div>
					<div class="modal-footer">

						<a class="btn btn-sm btn-link" href="contracts">Ver Contratos</a>
						<a class="btn btn-sm btn-link" href="taxations">Ver Cobranças</a>
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-check"></i></button>
					</div>
				</div>
			</div>
		</div>


		<!--------------------------------------------------------------------------------------------------------->
		<!-- Modal -->
		<div id="modal-create-place" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-map-pin faa-burst animated faa-slow"></i></h4>
					</div>
					<div class="modal-body">
						<form action="#" methods="POST">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group  {{ errors.name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="name" placeholder="Nome" v-model="newPlace.name"/>
											<span class="fa fa-map-pin form-control-feedback"></span>
											<p v-if="errors.name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.name }}</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group  {{ errors.typeofplace_id ? ' has-error' : '' }} has-feedback">
											<select class="form-control" v-model="newPlace.typeofplace_id" v-el:createplace>
												<option v-for="type in types" value="{{type.id}}">{{type.name}}</option>
											</select>
											<p v-if="errors.typeofplace_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.typeofplace_id }}</p>
										</div>
									</div>
								</div>
							</div>
							<hr>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group {{ errors.price ? ' has-error' : '' }} has-feedback">
											<input :disabled = "newPlace.typeofplace_id == 1" type="number" class="form-control" name="price" placeholder="Valor" v-model="newPlace.price"/>
											<span class="fa fa-usd form-control-feedback"></span>
											<p v-if="errors.price" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.price }}</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group {{ errors.dimension ? ' has-error' : '' }} has-feedback">
											<input :disabled = "newPlace.typeofplace_id == 1" type="number" class="form-control" name="dimension" placeholder="Dimensão" v-model="newPlace.dimension"/>
											<span class="form-control-feedback">m²</span>
											<p v-if="errors.dimension" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.dimension }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr>


							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group has-feedback">
											<textarea name="description" placeholder="Descrição..." class="form-control" rows="5" cols="40" id="description" v-model="newPlace.description"></textarea>
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

						<button @click="createPlace" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar</button>

					</div>
				</div>

			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<!-- Modal -->
		<div id="modal-edit-place" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-edit faa-burst animated faa-slow"></i></h4>
					</div>
					<div class="modal-body">
						<form methods="patch">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group  {{ errors.name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="name" placeholder="Nome" v-model="newPlace.name"/>
											<span class="fa fa-map-pin form-control-feedback"></span>
											<p v-if="errors.name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.name }}</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group  {{ errors.typeofplace_id ? ' has-error' : '' }} has-feedback">
											<select class="form-control" v-model="newPlace.typeofplace_id" v-el:editplace>
												<option v-for="type in types" value="{{type.id}}">{{type.name}}</option>
											</select>
											<p v-if="errors.typeofplace_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.typeofplace_id }}</p>
										</div>
									</div>
								</div>
							</div>
							<hr>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group {{ errors.price ? ' has-error' : '' }} has-feedback">
											<input :disabled = "newPlace.typeofplace_id == 1" type="number" class="form-control" name="price" placeholder="Valor" v-model="newPlace.price"/>
											<span class="fa fa-usd form-control-feedback"></span>
											<p v-if="errors.price" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.price }}</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group {{ errors.dimension ? ' has-error' : '' }} has-feedback">
											<input :disabled = "newPlace.typeofplace_id == 1" type="number" class="form-control" name="dimension" placeholder="Dimensão" v-model="newPlace.dimension"/>
											<span class="form-control-feedback">m²</span>
											<p v-if="errors.dimension" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.dimension }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr>


							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group has-feedback">
											<textarea name="description" placeholder="Descrição..." class="form-control" rows="5" cols="40" id="description" v-model="newPlace.description"></textarea>
										</div>
									</div>
								</div>
							</div>


						</form>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Close</button>
						<button v-on:show="" @click="saveEditedPlace(newPlace.id)" type="button" class="btn btn-primary"><i class="fa fa-refresh fa-spin"></i>&nbsp; &nbsp;&nbsp; Atualizar</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
