
<div class="alert alert-success" transition="success" v-if="success">
	Função Adicionado com sucesso
</div>

<div class="row">
	<div class="col-md-4 pull-right">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
			<input v-model="filter.term" type="text" class="form-control" placeholder="Filtrar dados da tabela" aria-describedby="basic-addon1">
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-secondary pull-right" name="button" data-toggle="modal" data-target="#modal-create-role">Criar Novo</button>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md-12">
		<div class='table-responsive'>
			<table class='table table-striped table-hover table-condensed'>
				<thead>
					<tr>
						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'name')">Nome do papel</a>
						</th>

						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'display_name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'display_name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'display_name')">Papel</a>
						</th>


						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'description' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'description' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'description')">Descriçãos</a>
						</th>

						<th  class="text-center" colspan="2"><span><i class="fa fa-cogs"></i></span></th>


						<th width=75  class="text-center">
							<a @click = "openAllDetails" href="#">
								<span><i data-toggle="tooltip" data-placement="left" title="Ver Todas Permissões" class="fa"  :class="{'fa-sign-in': openDetails.length == 0, 'fa-sign-out': openDetails.length > 0}"></i></span>
							</a>
						</th>
					</tr>
				</thead>
				<tbody  v-for="role in roles | filterBy filter.term | orderBy sortColumn sortInverse">
					<tr>
						<td>{{ role.name }}</td>
						<td>{{ role.display_name }}</td>
						<td>{{ role.description }}</td>

						<td align=left>  <a data-toggle="modal" data-target="#modal-edit-role" href="#"> <i class="fa fa-pencil text-primary" @click="getThisRole(role.id)" > </i></a></td>
						<td align=right><a data-toggle="modal" data-target="#modal-delete-role" href="#"><i class="fa fa-trash text-danger" @click="getThisRole(role.id)"></i></a></td>

						<td width=75 class="text-center">
							<a @click = "doOpenDetails($event, role.id)" v-show="role.perms != ''" href="#"><i data-toggle="tooltip" data-placement="left" title="Ver Permissões" class="fa" :class="{'fa-plus-square': openDetails.indexOf(role.id) == -1, 'fa-minus-square': openDetails.indexOf(role.id) > -1}"></i></a>
							<i class="fa fa-plus-square" v-show="role.perms == ''" style="opacity: 0.3"></i>
						</td>

					</tr>
					<tr class="info" v-show="openDetails.indexOf(role.id) > -1 && role.perms != ''">
						<td colspan="4">
							<ul class="det" id="detailPermission">
								<li class="l_det"  v-for="perms in role.perms"><b>|{{ perms.display_name }}|&nbsp;&nbsp;&nbsp;</b></li>
							</ul>
						</td>
						<td class="text-right" colspan="2">
							<a href="#" class='btn btn-xs btn-default '>Gerir</a>
						</td>
					</tr>
				</tbody>
			</table>





			<div class="col-md-12 pull-left">
				<Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<div class="modal fade" id="modal-delete-role" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="">Eliminar Função</h4>
					</div>
					<div class="modal-body">
						<h1>Eliminar Função {{newRole.name}}</h1>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button  @keyup.enter="deleteRole(newRole.id)" @click="deleteRole(newRole.id)" type="button" class="btn btn-default">Eliminar  Função</button>
					</div>
				</div>
			</div>
		</div>


		<!--------------------------------------------------------------------------------------------------------->
		<!-- Modal -->
		<div id="modal-create-role" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Registar role</h4>
					</div>
					<div class="modal-body">
						<validator name="validationew">
							<form action="#" methods="POST">
								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<input type="text" class="form-control" name="name" placeholder="Nome do  role" v-model="newRole.name" v-validate:name="['required']"/>
												<span class="glyphicon glyphicon-user form-control-feedback"></span>
												<p style="color:red;" v-if="$validationew.name.required && $validationew.name.touched"><span data-toggle="tooltip" title="Este campo tem de ser preenchida!">*</span></p>
											</div>
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<input type="text" class="form-control" name="display_name" placeholder="Nome do  role" v-model="newRole.display_name" v-validate:display_name="['required']"/>
												<span class="glyphicon glyphicon-user form-control-feedback"></span>
												<p style="color:red;" v-if="$validationew.display_name.required && $validationew.display_name.touched"><span data-toggle="tooltip" title="Este campo tem de ser preenchida!">*</span></p>
											</div>
										</div>
									</div>
								</div>



								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<textarea name="description" placeholder="Descrição deste desta função" class="form-control" rows="5" cols="40" id="description" v-model="newRole.description"></textarea>
											</div>
										</div>
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<select class="iform-control" v-model="newRole.permissions" multiple>
													<option value="" selected>Escolhe Permissões prar esta função</option>
													<option v-for="permission in permissions" value="{{permission.id}}">
														{{permission.display_name}}
													</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</form>
						</validator>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

						<button :disabled = "!$validationew.valid" @click="createRole" class="btn btn-secondary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar Dados Sobre este Função</button>
					</div>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<!-- Modal -->
		<div id="modal-edit-role" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Editar Esta função</h4>
					</div>
					<div class="modal-body">
						<validator name="validation1">
							<form methods="patch">
								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<input type="text" class="form-control" name="name" v-model="newRole.name" v-validate:name="['required']"/>
												<span class="glyphicon glyphicon-user form-control-feedback"></span>
												<p style="color:red;" v-if="$validation1.name.required && $validation1.name.touched"><span data-toggle="tooltip" title="Este campo tem de ser preenchida!">*</span></p>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<input type="text" class="form-control" name="display_name" v-model="newRole.display_name" v-validate:display_name="['required']"/>
												<span class="glyphicon glyphicon-user form-control-feedback"></span>
												<p style="color:red;" v-if="$validation1.display_name.required && $validation1.display_name.touched"><span data-toggle="tooltip" title="Este campo tem de ser preenchida!">*</span></p>
											</div>
										</div>
									</div>
								</div>

								<hr><!---------------------------------------------------------------------------------------------------------------->

								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<textarea name="description" placeholder="Descrição desta função" class="form-control" rows="5" cols="40" id="description" v-model="newRole.description"></textarea>
											</div>
										</div>
									</div>
								</div>
							</form>
						</validator>
					</div>
					<div class="modal-footer">

						<div class="col-md-12">
							<button @click="clearField" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Close</button>
							<button v-on:show="" @click="saveEditedRole(newRole.id)" type="button" class="btn btn-secondary"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp; Salvar as Alterações sobre esta função</button>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
