
<div  id="alert-message" class="alert alert-{{typeAlert}}" transition="success" v-if="success">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<i class="fa fa-thumbs-o-up text-center">&nbsp;&nbsp; {{msgSucess}}</i>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-inline pull-right">
			<div class="input-group">
				<select data-toggle="tooltip" title="A mostrar linhas na tabela" class="selectpicker show-tick show-menu-arrow" data-style="btn-primary" name="" v-model="showRow" @change="fetchRole(1, showRow)">
					<option class="" value="5">05</option>
					<option class="" value="10" selected>10</option>
					<option class="" value="20">20</option>
					<option class="" value="50">50</option>
					<option class="" value="100">100</option>
					<option class="" value="200">200</option>
				</select>
			</div>
			&nbsp;&nbsp;
			<div class="input-group">
				<select data-toggle="tooltip" title="Escolhe as colunas a serem filtrados" class="form-control" name="" v-model="columnsFiltered" multiple="multiple" v-el:rolecols>
					<option class="" value="name">Nome</option>
					<option class="" value="display_name">Rótulo</option>
					<option class="" value="description">Descrição</option>
				</select>
			</div>
			&nbsp;&nbsp;
			<div v-if="columnsFiltered.length != 0" class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input data-toggle="tooltip" title="Escreva o valor a ser procurado na Tabela"
				v-model="filter.term"
				@keyup="doFilter"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>

			<div v-else class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input :disabled="columnsFiltered.length == 0" data-toggle="tooltip" title="Para ativar introduza um valor na Coluna"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="col-md-12">
		<button :disabled="!checkPermition()" class="btn btn-primary btn-flat btn-outline pull-left"  name="button" data-toggle="modal" data-target="#modal-create-role"><i class="fa fa-plus"></i> Novo</button>
	</div>
</div>
<br>

<div class="row">
	<div class="col-md-12">
		<div class='table-responsive'>
			<table class='table table-hover'>
				<thead class="active">
					<tr>
						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'name')">Nome do papel</a>
						</th>

						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'display_name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'display_name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'display_name')">Papel</a>
						</th>


						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'description' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'description' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'description')">Descriçãos</a>
						</th>

						<th v-if="checkPermition()" class="text-center" colspan="2"><i class="fa fa-cogs"></i> <span class="text-primary">Operações</span></th>


						<th width=75  class="text-center">
							<a @click = "openAllDetails" href="#">
								<span><i data-toggle="tooltip" data-placement="left" title="Ver Todas Permissões" class="fa" :class="{'fa-sign-in': openDetails.length == 0, 'fa-sign-out': openDetails.length > 0}"></i> Permissões</span>
							</a>
						</th>
					</tr>
				</thead>
				<tbody  v-for="role in roles | orderBy sortColumn sortInverse">
					<tr>
						<td>{{ role.name }}</td>
						<td>{{ role.display_name }}</td>
						<td>{{ role.description }}</td>

						<td v-if="checkPermition()" align=left>  <a  class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-edit-role" href="#"> <i class="fa fa-edit text-primary" @click="getThisRole(role.id)" > </i></a></td>
						<td v-if="checkPermition()" align=right><a class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-delete-role" href="#"><i class="fa fa-trash text-danger" @click="getThisRole(role.id)"></i></a></td>

						<td width=75 class="text-center">
							<a class="btn btn-default btn-xs" @click = "doOpenDetails($event, role.id)" v-show="role.perms != ''" href="#"><i data-toggle="tooltip" data-placement="left" title="Ver Permissões" class="fa" :class="{'fa-plus-square': openDetails.indexOf(role.id) == -1, 'fa-minus-square': openDetails.indexOf(role.id) > -1}"></i></a>
							<i class="fa fa-plus-square" v-show="role.perms == ''" style="opacity: 0.3"></i>
						</td>

					</tr>
					<tr class="" v-show="openDetails.indexOf(role.id) > -1 && role.perms != ''">
						<td colspan="6">
							<ul class="list-unstyled list-group-item-info" v-for="perms in role.perms">
								<li><span data-toggle="tooltip" title="{{ perms.description }}">{{ perms.display_name }}</span></li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="row">
				<div v-if="pagination.total > showRow" class="col-md-6 pull-left">
					<Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
				</div>
				<div class="col-md-6 pull-right">
					<h6 class="text-right text-help"> Mostrar de <span class="badge">{{pagination.from}}</span>  a <span class="badge">{{pagination.to}}</span>  no total de <span class="badge">{{pagination.total}}</span></h6>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<div class="modal fade" id="modal-delete-role" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button  @click="clearField" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
					</div>
					<div class="modal-body">
						<h5 class="text-center">Eliminar {{newRole.name}}</h5>
					</div>
					<div class="modal-footer">
						<button  @click="clearField" type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>
						<button  @keyup.enter="deleteRole(newRole.id)" @click="deleteRole(newRole.id)" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
					</div>
				</div>
			</div>
		</div>


		<!--------------------------------------------------------------------------------------------------------->
		<!-- Modal -->
		<div id="modal-create-role" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-plus faa-burst animated faa-slow"></i></h4>
					</div>
					<div class="modal-body">
						<form action="#" methods="POST">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="name" placeholder="Nome do  papel para o sistema" v-model="newRole.name"/>
											<span class="fa fa-lock form-control-feedback"></span>
											<p v-if="errors.name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.name }}</p>
										</div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.display_name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="display_name" placeholder="Nome do papel para ser visualizado" v-model="newRole.display_name"/>
											<span class="fa fa-eye form-control-feedback"></span>
											<p v-if="errors.display_name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.display_name }}</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group has-feedback">
											<textarea name="description" placeholder="descrição" class="form-control" rows="5" cols="40" id="description" v-model="newRole.description"></textarea>
										</div>
									</div>
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group has-feedback">
											<select class="js-example-responsive" multiple="multiple" v-model="newRole.permissions" v-el:permscreate multiple="multiple">
												<option v-for="permission in permissions" value="{{permission.id}}">
													{{permission.display_name}}
												</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button @click="clearField"  type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

						<button @click="createRole" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar</button>
					</div>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<!-- Modal -->
		<div id="modal-edit-role" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-edit faa-burst animated faa-slow"></i></h4>
					</div>
					<div class="modal-body">
						<form methods="patch">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="name" placeholder="Nome do  papel para o sistema" v-model="newRole.name"/>
											<span class="fa fa-lock form-control-feedback"></span>
											<p v-if="errors.name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.name }}</p>
										</div>
									</div>
								</div>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.display_name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="display_name" placeholder="Nome do papel para ser visualizado" v-model="newRole.display_name"/>
											<span class="fa fa-eye form-control-feedback"></span>
											<p v-if="errors.display_name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.display_name }}</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group has-feedback">
											<textarea name="description" placeholder="descrição" class="form-control" rows="5" cols="40" id="description" v-model="newRole.description"></textarea>
										</div>
									</div>
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group has-feedback">
											<select class="js-example-responsive" multiple="multiple" v-model="newRole.permissions" v-el:permsedit multiple="multiple">
												<option v-for="permission in permissions" value="{{permission.id}}">
													{{permission.display_name}}
												</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="col-md-12">
							<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Close</button>
							<button v-on:show="" @click="saveEditedRole(newRole.id)" type="button" class="btn btn-primary"><i class="fa fa-refresh fa-spin"></i>&nbsp; &nbsp;&nbsp;Atualizar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
