<div  id="alert-message" class="alert alert-{{typeAlert}}" transition="success" v-if="success">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<i class="fa fa-thumbs-o-up text-center">&nbsp;&nbsp; {{msgSucess}}</i>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="form-inline pull-left">
			<div class='checkbox-inline'>
				<label>
					<input type='checkbox' name='' v-model='moreColumn.author'>
					<i>Responsável</i>
				</label>
			</div>
		</div>
		<div class="form-inline pull-right">
			<div class="input-group">
				<select data-toggle="tooltip" title="A mostrar linhas na tabela" class="selectpicker show-tick show-menu-arrow" data-style="btn-primary" name="" v-model="showRow" @change="fetchControl(1, showRow)">
					<option class="" value="5">05</option>
					<option class="" value="10" selected>10</option>
					<option class="" value="20">20</option>
					<option class="" value="50">50</option>
					<option class="" value="100">100</option>
					<option class="" value="200">200</option>
				</select>
			</div>
			&nbsp;&nbsp;
			<div class="input-group">
				<select data-toggle="tooltip" title="Escolhe as colunas a serem filtrados" class="form-control" name="" v-model="columnsFiltered" multiple="multiple" v-el:controlcols>
					<option class="" value="employee_id"="">Funcionário</option>
					<option class="" value="material_id">Marerial</option>
					<option class="" value="create_at">Data</option>
				</select>
			</div>
			&nbsp;&nbsp;
			<div v-if="columnsFiltered.length != 0" class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input data-toggle="tooltip" title="Escreva o valor a ser procurado na Tabela"
				v-model="filter.term"
				@keyup="doFilter"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>

			<div v-else class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input :disabled="columnsFiltered.length == 0" data-toggle="tooltip" title="Para ativar introduza um valor na Coluna"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div v-if = "employees.length > 0 && materials.length > 0" class="col-md-12">
		<button @click="clearField" class="btn btn-primary btn-flat btn-outline pull-left" name="button" data-toggle="modal" data-target="#modal-create-control"><i class="fa fa-plus"></i> Novo</button>&nbsp;&nbsp;
	</div>

	<div v-else class="col-md-12">
		<button data-toggle="tooltip" title="Tens de criar os funcionários e os material para poder criar este registo" type="button" class="btn btn-danger btn-flat"><i class="fa fa-minus"></i> Novo</button>&nbsp;&nbsp;
	</div>

</div>

<br>
<div class="row">

	<div class="col-md-12">
		<div class='table-responsive'>
			<table class='table table-striped table-hover'>
				<thead>
					<tr>
						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'employee_id' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'employee_id' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'employee_id')">Funcionário(a)</a>
						</th>
						<th v-if="moreColumn.author" class="info">
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'author' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'author' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'author')">Responsável</a>
						</th>
						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'status' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'status' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'status')">Estado</a>
						</th>

						<th v-if="checkPermition()" class="text-center" colspan="3"><i class="fa fa-cogs"></i> <span class=" text-primary">Operações</span></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="control in controls | orderBy sortColumn sortInverse">
						<td v-for="emp in control.employees">{{ emp.name }}</td>
						<td v-if="moreColumn.author" class="info">{{ control.author }}</td>
						<!------------------------------------------------------------------------------------------>
						<td>

							<button v-if="checkPermition()" type="submit" @click = "statusControlsChange(control.id)" class='btn btn-xs' :class="{ 'btn-info': control.status, 'btn-danger': !control.status }">{{control.status ? 'Entregue' : 'Pendente'}}</button>

							<button v-else :disabled="control.status == true" type="submit" @click = "statusControlsChange(control.id)" class='btn btn-xs' :class="{ 'btn-info': control.status, 'btn-danger': !control.status }">{{control.status ? 'Entregue' : 'Pendente'}}</button>

						</td>
						<!------------------------------------------------------------------------------------------>
						<td align=center><a class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-view-control" href="#"><i class="fa fa-eye text-success" @click="getThisControl(control.id)"></i></a></td>

						<td align=center>  <a class="btn btn-default btn-xs" v-if="checkPermition()" data-toggle="modal" data-target="#modal-edit-control" href="#"> <i class="fa fa-edit text-primary" @click="getThisControl(control.id)" > </i></a></td>

						<td align=center><a class="btn btn-default btn-xs" v-if="checkPermition()" data-toggle="modal" data-target="#modal-delete-control" href="#"><i class="fa fa-trash text-danger" @click="getThisControl(control.id)"></i></a></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div v-if="pagination.total > showRow" class="col-md-6 pull-left">
					<Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
				</div>
				<div class="col-md-6 pull-right">
					<h6 class="text-right text-help"> Mostrar de <span class="badge">{{pagination.from}}</span>  a <span class="badge">{{pagination.to}}</span>  no total de <span class="badge">{{pagination.total}}</span></h6>
				</div>
			</div>

		</div>

		<!--------------------------------------------------------------------------------------------------------->
		<div class="modal fade" id="modal-view-control" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id=""><i class="fa fa-eye faa-flash animated faa-slow text-success"></i></h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<div class='table-responsive'>
									<table class='table table-hover'>
										<thead>
											<tr>
												<th class ="text-center" colspan ="2">DETALHES</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><b>Funcionário</b></td>
												<td v-for="emp in newControl.employee"><i>{{ emp.name }}</i></td>
											</tr>
											<tr>
												<td><b>Material</b></td>
												<td v-for="mat in newControl.material"><i>{{ mat.name }}</i></td>
											</tr>
											<tr>
												<td><b>Estado</b></td>
												<td><span class="label" :class="{ 'btn-info': newControl.status, 'btn-danger': !newControl.status }"><i>{{newControl.status ? 'Entregue' : 'Pendente'}}</i></span></td>
											</tr>

											<tr>
												<td><b>Criado em:</b></td>
												<td><i>{{ newControl.created_at | formatDate 'DD/MM/YYYY' }}</i></td>
											</tr>

											<tr>
												<td><b>Atualizado em:</b></td>
												<td><i>{{ newControl.updated_at | formatDate 'DD/MM/YYYY' }}</i></td>
											</tr>

											<tr>
												<td><b>Responsável:</b></td>
												<td><i>{{ newControl.author }}</i></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i></button>
					</div>
				</div>
			</div>
		</div>


		<!--------------------------------------------------------------------------------------------------------->

		<div class="modal fade" id="modal-delete-control" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
					</div>
					<div class="modal-body">
						<h5 class="text-center">Eliminar?</h5>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>
						<button  @keyup.enter="deleteControl(newControl.id)" @click="deleteControl(newControl.id)" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
					</div>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->
		<!-- Modal -->
		<div id="modal-create-control" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-plus faa-burst animated faa-slow"></i></h4>
					</div>
					<div class="modal-body">
						<form action="#" methods="POST">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.employee_id ? ' has-error' : '' }} has-feedback">
											<select class="form-control" v-model="newControl.employee_id" v-el:employeecreate>
												<option v-for="employee in employees" value="{{employee.id}}">
													{{employee.name}}
												</option>
											</select>
											<p v-if="errors.employee_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.employee_id }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr><!---------------------------------------------------------------------------------------------------------------->

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.material_id ? ' has-error' : '' }} has-feedback">
											<select class="form-control" v-model="newControl.material_id" v-el:materialcreate>
												<option v-for="material in materials" value="{{material.id}}">
													{{material.name}}
												</option>
											</select>
											<p v-if="errors.material_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.material_id }}</p>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="col-md-12">

							<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

							<button @click="createControl" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<!-- Modal -->
		<div id="modal-edit-control" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-edit faa-burst animated faa-slow"></i></h4>
					</div>
					<div class="modal-body">
						<form action="#" methods="patch">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.employee_id ? ' has-error' : '' }} has-feedback">
											<select class="form-control" v-model="newControl.employee_id" v-el:employeecreate>
												<option v-for="employee in employees" value="{{employee.id}}">
													{{employee.name}}
												</option>
											</select>
											<p v-if="errors.employee_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.employee_id }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr><!---------------------------------------------------------------------------------------------------------------->

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.material_id ? ' has-error' : '' }} has-feedback">
											<select class="form-control" v-model="newControl.material_id" v-el:materialcreate>
												<option v-for="material in materials" value="{{material.id}}">
													{{material.name}}
												</option>
											</select>
											<p v-if="errors.material_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.material_id }}</p>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="col-md-12">
							<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Close</button>
							<button @click="saveEditedControl(newControl.id)" type="button" class="btn btn-primary"><i class="fa fa-refresh fa-spin"></i>&nbsp; &nbsp;&nbsp; Atualizar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
