
<div  id="alert-message" class="alert alert-{{typeAlert}}" transition="success" v-if="success">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<i class="fa fa-thumbs-o-up text-center">&nbsp;&nbsp; {{msgSucess}}</i>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-inline pull-right">
			<div class="input-group">
				<select data-toggle="tooltip" title="A mostrar linhas na tabela" class="selectpicker show-tick show-menu-arrow" data-style="btn-primary" name="" v-model="showRow" @change="fetchMaterial(1, showRow)">
					<option class="" value="5">05</option>
					<option class="" value="10" selected>10</option>
					<option class="" value="20">20</option>
					<option class="" value="50">50</option>
					<option class="" value="100">100</option>
					<option class="" value="200">200</option>
				</select>
			</div>
			<div class="input-group">
				<select data-toggle="tooltip" title="Escolhe as colunas a serem filtrados" class="form-control" name="" v-model="columnsFiltered" multiple="multiple" v-el:materialcols>
					<option class="" value="name"="">Nome</option>
					<option class="" value="description">Descrição</option>
				</select>
			</div>
			<div v-if="columnsFiltered.length != 0" class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input data-toggle="tooltip" title="Escreva o valor a ser procurado na Tabela"
				v-model="filter.term"
				@keyup="doFilter"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>

			<div v-else class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input :disabled="columnsFiltered.length == 0" data-toggle="tooltip" title="Para ativar introduza um valor na Coluna"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="col-md-8">
		<div class="btn-group">
			<button class="btn btn-primary btn-flat btn-outline pull-left" name="button" data-toggle="modal" data-target="#modal-create-material"><i class="fa fa-plus"></i> Novo</button>
		</div>
	</div>

	<div class="col-md-4">
		<div class="btn-group pull-right">
			<button data-toggle="modal" data-target="#deleteAllMaterials"  v-if="deleteMultIten.length > 0" class="btn btn-danger btn-flat btn-outline"  type="button" name="button"><i class="fa fa-trash-o"></i> Apagar Todos</button>
		</div>
	</div>

	<div class="modal fade" id="deleteAllMaterials" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
				</div>
				<div class="modal-body">
					<h5 class="text-center">Eliminar {{deleteMultIten.length}} Registo(s)?</h5>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>
					<button  @click = "deleteMultMaterials" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<div class='table-responsive'>
			<table class='table table-striped table-hover'>
				<thead>
					<tr>
						<th>
							<input :disabled="canDeleteAll()" type="checkbox" name="" value="" @click="selectAll" v-model="allSelected">
						</th>
						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'name')">Nome</a>
						</th>
						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'description' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'description' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'description')">Descrição</a>
						</th>

						<th  class="text-center" colspan="2"><span><i class="fa fa-cogs"></i></span></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="material in materials | orderBy sortColumn sortInverse">
						<td><input :disabled="material.employees.length > 0" type="checkbox" name="" v-model="deleteMultIten" :value="material.id"></td>
						<td>{{ material.name }}</td>
						<td>{{ material.description }}</td>
						<td align=left>  <a @click="getThisMaterial(material.id)" data-toggle="modal" data-target="#modal-edit-material" href="#"> <i class="fa fa-edit text-primary"> </i></a></td>
						<!---------------------------------------------------------------------------->
						<td v-if="material.employees.length == 0" align=right><a @click="getThisMaterial(material.id)" data-toggle="modal" data-target="#modal-delete-material" href="#"><i class="fa fa-trash text-danger"></i></a></td>

						<td v-else align=right><a @click = "undelete_alert()" href="#"><i class="fa fa-ban text-warning"></i></a></td>
						<!---------------------------------------------------------------------------->
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div  v-if="pagination.total > showRow" class="col-md-6 pull-left">
					<Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
				</div>
				<div class="col-md-6 pull-right">
					<h6 class="text-right text-help"> Mostrar de <span class="badge">{{pagination.from}}</span>  a <span class="badge">{{pagination.to}}</span>  no total de <span class="badge">{{pagination.total}}</span></h6>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<div class="modal fade" id="modal-delete-material" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
					</div>
					<div class="modal-body">
						<h5 class="text-center">Eliminar {{newMaterial.name}}</h5>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>

						<button  @keyup.enter="deleteMaterial(newMaterial.id)" @click="deleteMaterial(newMaterial.id)" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
					</div>
				</div>
			</div>
		</div>

		<!-- <div class="modal fade" id="modal-undeleted-material" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id=""><i class='fa fa-ban text-danger'></i></h4>
					</div>
					<div class="modal-body">
						<h5 class="text-center"><span class="text-danger">{{newMaterial.name}}</span> Relaciona com outros registos</h5>
					</div>
					<div class="modal-footer">

						<a class="btn btn-sm btn-link" href="employees">Ver Funcionários</a>
						<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-check"></i></button>
					</div>
				</div>
			</div>
		</div> -->


		<!--------------------------------------------------------------------------------------------------------->
		<!-- Modal -->
		<div id="modal-create-material" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-plus faa-burst animated faa-slow"></i></h4>
					</div>
					<div class="modal-body">
						<form action="#" methods="POST">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="name" placeholder="Nome do  Material" v-model="newMaterial.name"/>
											<span class="fa fa-briefcase form-control-feedback"></span>
											<p v-if="errors.name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.name }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr><!---------------------------------------------------------------------------------------------------------------->

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.description ? ' has-error' : '' }} has-feedback">
											<textarea name="description" placeholder="Descrição deste Mescado" class="form-control" rows="5" cols="40" id="description" v-model="newMaterial.description"></textarea>
											<p v-if="errors.description" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.description }}</p>
										</div>
									</div>
								</div>
							</div>
						</form>

					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

						<button @click="createMaterial" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp; Guardar</button>
					</div>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<!-- Modal -->
		<div id="modal-edit-material" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-edit faa-burst animated faa-slow"></i></h4>
					</div>
					<div class="modal-body">

						<form methods="patch">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="name" placeholder="Nome do  Material" v-model="newMaterial.name"/>
											<span class="fa fa-briefcase form-control-feedback"></span>
											<p v-if="errors.name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.name }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr><!---------------------------------------------------------------------------------------------------------------->

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.description ? ' has-error' : '' }} has-feedback">
											<textarea name="description" placeholder="Descrição deste Mescado" class="form-control" rows="5" cols="40" id="description" v-model="newMaterial.description"></textarea>
											<p v-if="errors.description" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.description }}</p>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Close</button>
						<button @click="saveEditedMaterial(newMaterial.id)" type="button" class="btn btn-primary"><i class="fa fa-refresh fa-spin"></i>&nbsp; &nbsp;&nbsp; Atualizar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
