<div class="alert alert-success" transition="success" v-if="success">
    Vendedeira adicionado com sucesso
</div>


<div class="row">
    <div class="col-md-8">
        <label class="checkbox-inline"><input type="checkbox" id="" value="" v-model="showColumn.ic">BI</label>
        <label class="checkbox-inline"><input type="checkbox" id="" value="" v-model="showColumn.age">Idade</label>
        <label class="checkbox-inline"><input type="checkbox" id="" value="" v-model="showColumn.council">Conselho</label>
        <label class="checkbox-inline"><input type="checkbox" id="" value="" v-model="showColumn.parish">Freguezia</label>
        <!-- <label class="checkbox-inline"><input type="checkbox" id="" value="" v-model="showColumn.status">Estado</label> -->
    </div>

    <div class="col-md-4 pull-left">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input v-model="filter.term" type="text" class="form-control" placeholder="Filtrar dados da tabela" aria-describedby="basic-addon1">
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-secondary pull-right" name="button" data-toggle="modal" data-target="#modal-create-trader">Criar Novo</button>
    </div>
</div>

<br>

<div class="col-md-12">
    <div class='table-responsive'>
        <table class='table table-striped table-hover table-condensed'>
            <thead>
                <tr>
                    <th>
                        <i :class = "{'fa-sort-amount-asc': sortColumn == 'name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                        <a href="#" @click = "doSort($event, 'name')">Nome</a>
                    </th>
                    <!-- <th class="info" v-if="showColumn.nickname">
                    <i :class = "{'fa-sort-amount-asc': sortColumn == 'nickname' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'nickname' &&   sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                    <a href="#" @click = "doSort($event, 'nickname')">Alcunha do Vendedeira</a>
                </th> -->
                <th class="info" v-if="showColumn.ic">
                    <i :class = "{'fa-sort-amount-asc': sortColumn == 'ic' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'ic' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                    <a href="#" @click = "doSort($event, 'ic')">BI</a>
                </th>
                <!-- <th class="info" v-if="showColumn.nif">
                <i :class = "{'fa-sort-amount-asc': sortColumn == 'nif' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'nif' &&   sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                <a href="#" @click = "doSort($event, 'nif')">NIF</a>
            </th> -->
            <th class="info" v-if="showColumn.age">
                <i :class = "{'fa-sort-amount-asc': sortColumn == 'age' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'age' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                <a href="#" @click = "doSort($event, 'age')">Idade</a>
            </th>

            <th>
                <i :class = "{'fa-sort-amount-asc': sortColumn == 'gender' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'gender' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                <a href="#" @click = "doSort($event, 'gender')">Genero</a>
            </th>

            <th>
                <i :class = "{'fa-sort-amount-asc': sortColumn == 'email' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'email' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                <a href="#" @click = "doSort($event, 'email')">Email</a>
            </th>

            <th>
                <i :class = "{'fa-sort-amount-asc': sortColumn == 'state' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'state' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                <a href="#" @click = "doSort($event, 'state')">Ilha</a>
            </th>

            <th class="info" v-if="showColumn.council">
                <i :class = "{'fa-sort-amount-asc': sortColumn == 'council' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'council' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                <a href="#" @click = "doSort($event, 'council')">Conselho</a>
            </th>

            <th class="info" v-if="showColumn.parish">
                <i :class = "{'fa-sort-amount-asc': sortColumn == 'parish' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'parish' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                <a href="#" @click = "doSort($event, 'parish')">Freguezia</a>
            </th>

            <th>
                <i :class = "{'fa-sort-amount-asc': sortColumn == 'zone' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'zone' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                <a href="#" @click = "doSort($event, 'zone')">Zona do Comerciante</a>
            </th>

            <th>
                <i :class = "{'fa-sort-amount-asc': sortColumn == 'phone' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'phone' &&   sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                <a href="#" @click = "doSort($event, 'phone')">Tel/Movel</a>
            </th>

            <!-- <th class="info" v-if="showColumn.status">
            <i :class = "{'fa-sort-amount-asc': sortColumn == 'status' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'status' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
            <a href="#" @click = "doSort($event, 'status')">Situação</a>
        </th> -->
        <!-- <th>
        <i :class = "{'fa-sort-amount-asc': sortColumn == 'product_id' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'product_id' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
        <a href="#" @click = "doSort($event, 'product_id')">Tipo de Produto</a>
    </th>
    <th>
    <i :class = "{'fa-sort-amount-asc': sortColumn == 'typeoftrader_id' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'typeoftrader_id' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
    <a href="#" @click = "doSort($event, 'typeoftrader_id')">Tipo de Vendedeira</a>
</th> -->

<!-- <th>Foto</th> -->
<th  class="text-center" colspan="2"><span><i class="fa fa-cogs"></i></span></th>
</tr>
</thead>
<tbody>
    <tr v-for="trader in traders | filterBy filter.term | orderBy sortColumn sortInverse">
        <td>{{ trader.name }}</td>
        <td class="info" v-if="showColumn.nickname">{{ trader.nickname }}</td>
        <td class="info" v-if="showColumn.ic">{{ trader.ic }}</td>
        <td class="info" v-if="showColumn.age">{{ trader.age }}</td>
        <td>{{ trader.gender }}</td>
        <td>{{ trader.email }}</td>
        <td>{{ trader.state }}</td>
        <td class="info" v-if="showColumn.council">{{ trader.council }}</td>
        <td class="info" v-if="showColumn.parish">{{ trader.parish }}</td>
        <td>{{ trader.zone }}</td>
        <td>{{ trader.phone }}</td>
        <!-- <td class="info" v-if="showColumn.status">{{ alterStatusValue(trader.status) }}</td>
        <td>{{ trader.product.name }}</td>
        <td>{{ trader.typeoftraders.name }}</td> -->


        <td align=left>  <a data-toggle="modal" data-target="#modal-edit-trader" href="#"> <i class="fa fa-pencil text-primary" @click="getThisTrader(trader.id)" > </i></a></td>
        <td align=right><a data-toggle="modal" data-target="#modal-delete-trader" href="#"><i class="fa fa-trash text-danger" @click="getThisTrader(trader.id)" ></i></a></td>
    </tr>
</tbody>
</table>
<div class="col-md-12 pull-left">
    <Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
</div>
</div>

<!--------------------------------------------------------------------------------------------------------->

<div class="modal fade" id="modal-delete-trader" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="">Eliminar Vendedeira</h4>
            </div>
            <div class="modal-body">
                <h1>Eliminar Vendedeira {{newTrader.name}}</h1>
            </div>
            <div class="modal-footer">
                <button @click="clearField" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button  @keyup.enter="deleteTrader(newTrader.id)" @click="deleteTrader(newTrader.id)" type="button" class="btn btn-default">Eliminar Vendedeira</button>
            </div>
        </div>
    </div>
</div>


<!--------------------------------------------------------------------------------------------------------->
<!-- Modal -->
<div id="modal-create-trader" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Criar Vendedeira</h4>
            </div>
            <div class="modal-body">
                <validator name="validationew">
                    <form action="#" methods="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" name="name" placeholder="Nome Completo" v-model="newTrader.name" v-validate:name="['required']"/>
                                        <span class="form-control-feedback"></span>
                                    </div>
                                </div>

                                <!-- <div class="col-md-6">
                                <div class="form-group has-feedback">
                                <input type="text" class="form-control" name="nickname" placeholder="Nominho da vendedeira" v-model="newTrader.nickname"/>
                                <span class="form-control-feedback"></span>
                            </div>
                        </div> -->
                    </div>
                </div>

                <hr><!---------------------------------------------------------------------------------------------------------------->


                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <input type="number" class="form-control" name="ic" placeholder="Numero de bilhete de entidade" v-model="newTrader.ic"/>
                                <span class="form-control-feedback"></span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <input type="number" class="form-control" name="age" placeholder="Idade" v-model="newTrader.age"/>
                                <span class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <label class="radio-inline">
                                    <input type="radio" id="gender" value="M" name="gender" v-model="newTrader.gender"> Masculino
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="gender" name="gender" value="F" v-model="newTrader.gender">Feminino
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                <hr><!---------------------------------------------------------------------------------------------------------------->


                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="input-group date form-group has-feedback">

                                <select name="state" class="selectpicker form-control show-tick" v-model="newTrader.state">
                                    <optgroup label="Sotavento">
                                        <option>Seleciona uma Ilha</option>
                                        <option value="2">Maio</option>
                                        <option value="1">Santiago</option>
                                        <option value="3">Fogo</option>
                                        <option value="4">Brava</option>
                                    </optgroup>
                                    <optgroup label="Barlavento">
                                        <option value="5">Santo Antão</option>
                                        <option value="6">São Nicolau</option>
                                        <option value="7">São Vicente</option>
                                        <option value="8">Sal</option>
                                        <option value="9">Boa Vista</option>
                                    </optgroup>
                                </select>




                                <!-- <input type="text" class="form-control" name="state" placeholder="Ilha da Vendedeira" v-model="newTrader.state"/>
                                <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group date form-group has-feedback">
                            <input type="text" class="form-control" name="council" placeholder="Concelho" v-model="newTrader.council"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group date form-group has-feedback">
                            <input type="text" class="form-control" name="parish" placeholder="Freguezia" v-model="newTrader.parish"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr><!---------------------------------------------------------------------------------------------------------------->


            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="zone" placeholder="A morada" v-model="newTrader.zone"/>
                            <span class="form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <input type="number" class="form-control" name="phone" placeholder="Numero de Telenone/Movel" v-model="newTrader.phone"/>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            <textarea name="description" placeholder="Biografia do utilizador" class="form-control" rows="5" cols="40" id="description" v-model="newTrader.description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </validator>
</div>
<div class="modal-footer">
    <button @click="clearField" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

    <button :disabled = "!$validationew.valid" @click="createTrader" class="btn btn-secondary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar Dados Introduzidos</button>

</div>
</div>

</div>
</div>

<!--------------------------------------------------------------------------------------------------------->

<!-- Modal -->
<div id="modal-edit-trader" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editar Vendedeira</h4>
            </div>
            <div class="modal-body">
                <validator name="validation1">
                    <form methods="patch">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <input type="text" class="form-control" name="name" placeholder="Nome Completo" v-model="newTrader.name" v-validate:name="['required']"/>
                                        <span class="form-control-feedback"></span>
                                    </div>
                                </div>

                                <!-- <div class="col-md-6">
                                <div class="form-group has-feedback">
                                <input type="text" class="form-control" name="nickname" placeholder="Nominho da vendedeira" v-model="newTrader.nickname"/>
                                <span class="form-control-feedback"></span>
                            </div>
                        </div> -->
                    </div>
                </div>

                <hr><!---------------------------------------------------------------------------------------------------------------->


                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <input type="number" class="form-control" name="ic" placeholder="Numero de bilhete de entidade" v-model="newTrader.ic"/>
                                <span class="form-control-feedback"></span>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <input type="number" class="form-control" name="age" placeholder="Idade" v-model="newTrader.age"/>
                                <span class="form-control-feedback"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group has-feedback">
                                <label class="radio-inline">
                                    <input type="radio" id="gender" value="M" name="gender" v-model="newTrader.gender"> Masculino
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="gender" name="gender" value="F" v-model="newTrader.gender">Feminino
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                <hr><!---------------------------------------------------------------------------------------------------------------->


                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="input-group date form-group has-feedback">

                                <select name="state" class="selectpicker form-control show-tick" v-model="newTrader.state">
                                    <optgroup label="Sotavento">
                                        <option>Seleciona uma Ilha</option>
                                        <option value="2">Maio</option>
                                        <option value="1">Santiago</option>
                                        <option value="3">Fogo</option>
                                        <option value="4">Brava</option>
                                    </optgroup>
                                    <optgroup label="Barlavento">
                                        <option value="5">Santo Antão</option>
                                        <option value="6">São Nicolau</option>
                                        <option value="7">São Vicente</option>
                                        <option value="8">Sal</option>
                                        <option value="9">Boa Vista</option>
                                    </optgroup>
                                </select>




                                <!-- <input type="text" class="form-control" name="state" placeholder="Ilha da Vendedeira" v-model="newTrader.state"/>
                                <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group date form-group has-feedback">
                            <input type="text" class="form-control" name="council" placeholder="Concelho" v-model="newTrader.council"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="input-group date form-group has-feedback">
                            <input type="text" class="form-control" name="parish" placeholder="Freguezia" v-model="newTrader.parish"/>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr><!---------------------------------------------------------------------------------------------------------------->


            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="zone" placeholder="A morada" v-model="newTrader.zone"/>
                            <span class="form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <input type="number" class="form-control" name="phone" placeholder="Numero de Telenone/Movel" v-model="newTrader.phone"/>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            <textarea name="description" placeholder="Descrição do Comerciante" class="form-control" rows="5" cols="40" id="description" v-model="newTrader.description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </validator>
</div>
<div class="modal-footer">
    <button @click="clearField" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Close</button>
    <button v-on:show="" @click="saveEditedTrader(newTrader.id)" type="button" class="btn btn-secondary"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp; Salvar as Alterações</button>
</div>
</div>

</div>
</div>
</div>
