<div class="alert alert-success" transition="success" v-if="success">
    <i class="fa fa-thumbs-up"> Sucesso!!</i>
</div>

<!-- <pre>
    {{ $data.newTrader | json }}
</pre> -->

<div class="row">
    <div class="pull right col-md-8">
        <label class="checkbox-inline"><input type="checkbox" id="" value="" v-model="showColumn.ic">BI</label>
    </div>

    <div class="col-md-4 pull-left">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input v-model="filter.term" type="text" class="form-control" placeholder="Filtrar..." aria-describedby="basic-addon1">
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-12">
        <button @click="clearField" class="btn btn-primary btn-flat btn-outline pull-left" name="button" data-toggle="modal" data-target="#modal-create-trader"><i class="fa fa-plus"></i> Novo</button>&nbsp;&nbsp;
        <a class="btn btn-primary btn-flat btn-outline" href="/export/printableTraderInformation"><i class="fa fa-print"></i> Imprimir</a>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <div class='table-responsive'>
            <table class='table table-striped table-hover table-reflow'>
                <thead>
                    <tr>
                        <th>
                            <i :class = "{'fa-sort-amount-asc': sortColumn == 'name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                            <a href="#" @click = "doSort($event, 'name')">Nome</a>
                        </th>
                        <th class="info" v-if="showColumn.ic">
                            <i :class = "{'fa-sort-amount-asc': sortColumn == 'ic' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'ic' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                            <a href="#" @click = "doSort($event, 'ic')">BI</a>
                        </th>
                        <th>
                            <i :class = "{'fa-sort-amount-asc': sortColumn == 'phone' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'phone' &&   sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
                            <a href="#" @click = "doSort($event, 'phone')">Telefone</a>
                        </th>

                        <th  class="text-center" colspan="2"><span><i class="fa fa-cogs"></i></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="trader in traders | filterBy filter.term | orderBy sortColumn sortInverse">
                        <td><a href="#" data-toggle="modal" data-target="#show-trader" @click="getThisTrader(trader.id)">{{ trader.name }}</a></td>
                        <td class="info" v-if="showColumn.ic">{{ trader.ic }}</td>
                        <td>{{ trader.phone }}</td>

                        <td align=left>  <a data-toggle="modal" data-target="#modal-edit-trader" href="#"> <i class="fa fa-pencil text-primary" @click="getThisTrader(trader.id)" > </i></a></td>
                        <td align=right><a data-toggle="modal" data-target="#modal-delete-trader" href="#"><i class="fa fa-trash text-danger" @click="getThisTrader(trader.id)" ></i></a></td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-12 pull-left">
                <Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
            </div>
        </div>

        <!--------------------------------------------------------------------------------------------------------->
        <div id="show-trader" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Detalhes do(a) {{ newTrader.name }}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class='table-responsive'>
                                    <table class='table table-striped table-hover'>
                                        <thead>
                                            <tr>
                                                <th class="text-center" colspan="2">INFORMAÇOES DO COMERCIANTE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><b>ID</b></td>
                                                <td><i>{{ newTrader.id }}</i></td>
                                            </tr>
                                            <tr>
                                                <td><b>Nome</b></td>
                                                <td><i>{{ newTrader.name }}</i></td>
                                            </tr>
                                            <tr>
                                                <td><b>BI</b></td>
                                                <td><span class="label label-info"><i>{{ newTrader.ic }}</i></span></td>

                                            </tr>
                                            <tr>
                                                <td><b>Idade</b></td>
                                                <td><i>{{ newTrader.age }}</i></td>
                                            </tr>
                                            <tr>
                                                <td><b>Sexo</b></td>
                                                <td><i>{{ alterGenderValue(newTrader.gender) }}</i></td>
                                            </tr>
                                            <tr>
                                                <td><b>Email</b></td>
                                                <td><span class="label label-info"><i>{{ newTrader.email }}</i></span></td>

                                            </tr>
                                            <tr>
                                                <td><b>Ilha</b></td>
                                                <td><i>{{ alterStateValue(newTrader.state) }}</i></td>
                                            </tr>
                                            <tr>
                                                <td><b>Concelho</b></td>
                                                <td><i>{{ newTrader.council }}</i></td>
                                            </tr>
                                            <tr>
                                                <td><b>Freguesia</b></td>
                                                <td><i>{{ newTrader.parish }}</i></td>
                                            </tr>
                                            <tr>
                                                <td><b>Zona</b></td>
                                                <td><i>{{ newTrader.zone }}</i></td>
                                            </tr>

                                            <tr>
                                                <td><b>Telefone</b></td>
                                                <td><span class="label" :class="{ 'label-info': newTrader.phone, 'none': !newTrader.phone }"><i>{{ newTrader.phone }}</i></span></td>

                                            </tr>

                                            <tr>
                                                <td><b>Descrição</b></td>
                                                <td><i>{{ newTrader.description }}</i></td>
                                            </tr>
                                            <tr>
                                                <td><b>Data da criação</b></td>
                                                <td><i>{{ trader.created_at | formatDate 'DD/MM/YYYY' }}</i></td>
                                            </tr>
                                            <tr>
                                                <td><b>Data de atualização</b></td>
                                                <td><i>{{ trader.updated_at | formatDate 'DD/MM/YYYY' }}</i></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button @click="clearField" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>



        <!--------------------------------------------------------------------------------------------------------->

        <div class="modal fade" id="modal-delete-trader" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="">Eliminar</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Eliminar - <span class="text-uppercase text-danger">{{newTrader.name}}</span></h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button  @keyup.enter="deleteTrader(newTrader.id)" @click="deleteTrader(newTrader.id)" type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>


        <!--------------------------------------------------------------------------------------------------------->
        <!-- Modal -->
        <div id="modal-create-trader" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Registar</h4>
                    </div>
                    <div class="modal-body">
                        <validator name="validationew">
                            <form action="#" methods="POST">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" name="name" placeholder="Nome" v-model="newTrader.name" v-validate:name="['required']"/>
                                                <span class="fa fa-user form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group has-feedback">
                                                <input type="number" class="form-control" name="ic" placeholder="Número BI" v-model="newTrader.ic"/>
                                                <span class="fa fa-id-card form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <div class="form-group has-feedback">
                                                <input type="email" class="form-control" name="email" placeholder="Email" v-model="newTrader.email"/>
                                                <span class="fa fa-envelope form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group has-feedback">
                                                <input type="number" class="form-control" name="phone" placeholder="Telefone" v-model="newTrader.phone"/>
                                                <span class="fa fa-phone form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="form-group has-feedback">
                                                <label class="radio-inline">
                                                    <input type="radio" id="gender" value="M" name="gender" v-model="newTrader.gender"> <i class="fa fa-male"></i>
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" id="gender" name="gender" value="F" v-model="newTrader.gender"><i class="fa fa-female"></i>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-10 pull-right">
                                            <div class="form-group has-feedback">
                                                <input type="number" class="form-control" name="age" placeholder="Idade" v-model="newTrader.age"/>
                                                <span class="fa fa-birthday-cake form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">
                                                <select name="state" class="selectpicker form-control show-tick" v-model="newTrader.state">
                                                    <optgroup label="Sotavento">
                                                        <option>Selecione Ilha</option>
                                                        <option value="2">Maio</option>
                                                        <option value="1">Santiago</option>
                                                        <option value="3">Fogo</option>
                                                        <option value="4">Brava</option>
                                                    </optgroup>
                                                    <optgroup label="Barlavento">
                                                        <option value="5">Santo Antão</option>
                                                        <option value="6">São Nicolau</option>
                                                        <option value="7">São Vicente</option>
                                                        <option value="8">Sal</option>
                                                        <option value="9">Boa Vista</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" name="council" placeholder="Concelho" v-model="newTrader.council"/>
                                                <span class="fa fa-compass form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" name="parish" placeholder="Freguezia" v-model="newTrader.parish"/>
                                                <span class="fa fa-map-marker form-control-feedback"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" name="zone" placeholder="Zona" v-model="newTrader.zone"/>
                                                <span class="fa fa-thumb-tack form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr><!-------------------------------------------------------------------------------------------------------------------->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback">
                                                <textarea name="description" placeholder="Descrição..." class="form-control" rows="5" cols="40" id="description" v-model="newTrader.description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </validator>
                    </div>
                    <div class="modal-footer">
                        <button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

                        <button :disabled = "!$validationew.valid" @click="createTrader" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar</button>

                        <label v-if = "!newTrader.get_password" class="checkbox-inline pull-left"><input data-toggle="modal" data-target="#getAcountForTrader" type="checkbox" id="" value="" v-model="newTrader.get_email">Obter uma conta</label>
                        <p v-if = "newTrader.get_password" class="text-help text-success pull-left">Comerciante Estará no SAGMMA</p>

                    </div>
                </div>

            </div>
        </div>

        <!------------------------------------------------------------------------------------------------------------->
        <div class="modal fade" id="getAcountForTrader" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" @click="clearField" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h5 class="modal-title" id="">Introduza a palavra passe para a conta pretendida</h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group has-feedback">
                            <input type='password' name="get_password" class='form-control input-lg' placeholder='Introduza a palavra passe' v-model="newTrader.get_password">
                            <span class="fa fa-lock form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button @click="clearField" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i></button>
                        <button :disabled = "!newTrader.get_password" type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------------------------------------------------------------------------------------->

        <!-- Modal -->
        <div id="modal-edit-trader" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Editar</h4>
                    </div>
                    <div class="modal-body">
                        <validator name="validation1">
                            <form methods="patch">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" name="name" placeholder="Nome" v-model="newTrader.name" v-validate:name="['required']"/>
                                                <span class="fa fa-user form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group has-feedback">
                                                <input type="number" class="form-control" name="ic" placeholder="Número BI" v-model="newTrader.ic"/>
                                                <span class="fa fa-id-card form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <div class="form-group has-feedback">
                                                <input type="email" class="form-control" name="email" placeholder="Email" v-model="newTrader.email"/>
                                                <span class="fa fa-envelope form-control-feedback"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group has-feedback">
                                                <input type="number" class="form-control" name="phone" placeholder="Telefone" v-model="newTrader.phone"/>
                                                <span class="fa fa-phone form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2">
                                            <div class="form-group has-feedback">
                                                <label class="radio-inline">
                                                    <input type="radio" id="gender" value="M" name="gender" v-model="newTrader.gender"> <i class="fa fa-male"></i>
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" id="gender" name="gender" value="F" v-model="newTrader.gender"><i class="fa fa-female"></i>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-10 pull-right">
                                            <div class="form-group has-feedback">
                                                <input type="number" class="form-control" name="age" placeholder="Idade" v-model="newTrader.age"/>
                                                <span class="fa fa-birthday-cake form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">
                                                <select name="state" class="selectpicker form-control show-tick" v-model="newTrader.state">
                                                    <optgroup label="Sotavento">
                                                        <option>Selecione Ilha</option>
                                                        <option value="2">Maio</option>
                                                        <option value="1">Santiago</option>
                                                        <option value="3">Fogo</option>
                                                        <option value="4">Brava</option>
                                                    </optgroup>
                                                    <optgroup label="Barlavento">
                                                        <option value="5">Santo Antão</option>
                                                        <option value="6">São Nicolau</option>
                                                        <option value="7">São Vicente</option>
                                                        <option value="8">Sal</option>
                                                        <option value="9">Boa Vista</option>
                                                    </optgroup>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" name="council" placeholder="Concelho" v-model="newTrader.council"/>
                                                <span class="fa fa-compass form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" name="parish" placeholder="Freguezia" v-model="newTrader.parish"/>
                                                <span class="fa fa-map-marker form-control-feedback"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">
                                                <input type="text" class="form-control" name="zone" placeholder="Zona" v-model="newTrader.zone"/>
                                                <span class="fa fa-thumb-tack form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr><!-------------------------------------------------------------------------------------------------------------------->

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="form-group has-feedback">
                                                <textarea name="description" placeholder="Descrição do utilizador" class="form-control" rows="5" cols="40" id="description" v-model="newTrader.description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </form>
                        </validator>
                    </div>
                    <div class="modal-footer">
                        <button @click="clearField" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Close</button>
                        <button v-on:show="" @click="saveEditedTrader(newTrader.id)" type="button" class="btn btn-primary"><i class="fa fa-refresh fa-spin"></i>&nbsp; &nbsp;&nbsp; Atualizar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
