

<div  id="alert-message" class="alert alert-{{typeAlert}}" transition="success" v-if="success">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<i class="fa fa-thumbs-o-up  faa-vertical animated text-center"></i>&nbsp;&nbsp; {{msgSucess}}
</div>
<!-- <pre>{{$data.newUser.roles | json}}</pre> -->
<div class="row">
	<div class="col-md-12">
		<div class="form-inline pull-right">
			<div class="input-group">
				<select data-toggle="tooltip" title="A mostrar linhas na tabela" class="form-control" name="" v-model="showRow" @change="fetchUser(1, showRow)">
					<option class="" value="5">05</option>
					<option class="" value="10" selected>10</option>
					<option class="" value="20">20</option>
					<option class="" value="50">50</option>
					<option class="" value="100">100</option>
					<option class="" value="200">200</option>
				</select>
			</div>
			&nbsp;&nbsp;
			<div class="input-group">
				<select data-toggle="tooltip" title="Escolhe as colunas a serem filtrados" class="form-control" name="" v-model="columnsFiltered" multiple="multiple" v-el:usercols>
					<option class="" value="name">Nome</option>
					<option class="" value="email">Email</option>
					<option class="" value="username">Nome de Utilizador</option>
				</select>
			</div>
			&nbsp;&nbsp;
			<div v-if="columnsFiltered.length != 0" class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input data-toggle="tooltip" title="Escreva o valor a ser procurado na Tabela"
				v-model="filter.term"
				@keyup="doFilter"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>

			<div v-else class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input :disabled="columnsFiltered.length == 0" data-toggle="tooltip" title="Para ativar introduza um valor na Coluna"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-12">
		<button @click="clearField" class="btn btn-primary btn-flat btn-outline pull-left" name="button" data-toggle="modal" data-target="#modal-create-user"><i class="fa fa-plus"></i> Novo</button>&nbsp;&nbsp;
		<a class="btn btn-primary btn-flat btn-outline" href="/export/printableUserInformation"><i class="fa fa-print"></i> Imprimir</a>
	</div>
</div>

<br>
<div class="row">
	<div class="col-md-12">
		<!-- <button class="btn btn-secondary pull-right" name="button" data-toggle="modal" data-target="#modal-create-user"><i class="fa fa-plus" aria-hidden="true"></i></button> -->
		<div class='table-responsive'>
			<table class='table table-striped table-hover table-success'>
				<thead>
					<tr>
						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'name')">Nome</a>
						</th>
						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'phone' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'phone' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'phone')">Tel</a>
						</th>

						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'status' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'status' &&   sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'status')">Estado</a>
						</th>

						<th  class="text-center" colspan="2"><span><i class="fa fa-cogs"></i></span></th>


						<th width=75  class="text-center">
							<a @click = "openAllDetails" href="#">
								<span><i data-toggle="tooltip" data-placement="left" title="Ver Todos os papeis" class="fa"  :class="{'fa-lock': openDetails.length == 0, 'fa-unlock': openDetails.length > 0}"></i></span>
							</a>
						</th>

					</tr>
				</thead>
				<tbody  v-for="user in users | orderBy sortColumn sortInverse">
					<tr>
						<td><a href="#" data-toggle="modal" data-target="#show-user" @click="getThisUser(user.id)">{{ user.name }}</a></td>
						<td>{{ user.phone }}</td>
						<!----------------------------------------------------------------------------------->
						<td v-if="user.id != auth.id">
							<button type="submit" @click = "estado_utilizador(user.id)" class='btn btn-xs btn-flat' :class="{ 'btn-info': user.status, 'btn-danger': !user.status }">{{user.status ? 'Ativado' : 'Disativado'}}</button>
						</td>

						<td v-else>
							<span><i class="fa fa-circle text-success"></i> Online</span>
						</td>
						<!----------------------------------------------------------------------------------->
						<td class="text-center">  <a data-toggle="modal" data-target="#modal-edit-user" href="#"> <i class="fa fa-edit text-primary" @click="getThisUser(user.id)"> </i></a></td>
						<!------------------------------------------------------------------------------->

						<td v-if="user.id != auth.id" class="text-center"><a data-toggle="modal" data-target="#modal-delete-user" href="#"><i class="fa fa-trash text-danger" @click="getThisUser(user.id)" ></i></a></td>

						<td v-else class="text-center"><i class="fa fa-check-square text-success"></i></td>

						<!------------------------------------------------------------------------------->
						<td width=75 class="text-center">
							<a @click = "doOpenDetails($event, user.id)" v-show="user.roles != ''" href="#"><i data-toggle="tooltip" data-placement="left" title="Ver Papeis de utilizador" class="fa" :class="{'fa-plus-square': openDetails.indexOf(user.id) == -1, 'fa-minus-square': openDetails.indexOf(user.id) > -1}"></i></a>
							<i class="fa fa-plus-square" v-show="user.roles == ''" style="opacity: 0.3"></i>
						</td>

						<!------------------------------------------------------------------------------->
					</tr>

					<!----------------------------------------------------------------------------------->
					<tr class="" v-show="openDetails.indexOf(user.id) > -1 && user.roles != ''">
						<td colspan="12">
							<span class="label label-primary"  v-for="roles in user.roles"><b> <i class="fa fa-unlock"></i> {{ roles.display_name }}&nbsp;</b></span>
							</td
						</tr>
					</tbody>
				</table>
				<div class="row">
					<div v-if="pagination.total > showRow" class="col-md-6 pull-left">
						<Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
					</div>

					<div class="col-md-6 pull-right">
						<!-- <h5  class="text-right"><span>Mostrando de {{pagination.from}} para {{pagination.to}} de {{pagination.total}} linhas</span></h5> -->
						<h6 class="text-right text-help"> Mostrar de <span class="badge">{{pagination.from}}</span>  a <span class="badge">{{pagination.to}}</span>  no total de <span class="badge">{{pagination.total}}</span></h6>
					</div>
				</div>
			</div>

			<!--------------------------------------------------------------------------------------------------------->


			<div id="show-user" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title"><i class="fa fa-info-circle"></i> {{ newUser.name }}</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6 col-md-offset-5">
										<img src="/uploads/avatars/{{ newUser.avatar }}" alt="Imagem do Usuário" style="width: 100px; height: 100px; float: left; border-radius: 50%; margin-right: 25px" />
									</div>
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-md-12">
									<div class='table-responsive'>
										<table class='table table-striped table-hover'>
											<thead>
												<tr>
													<th class="text-center" colspan="2">INFORMAÇOES DO UTILIZADOR</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td><b>ID</b></td>
													<td><i>{{ newUser.id }}</i></td>
												</tr>
												<tr>
													<td><b>Nome</b></td>
													<td><i>{{ newUser.name }}</i></td>
												</tr>
												<tr>
													<td><b>Utilizador</b></td>
													<td><span class="label label-info"><i>{{ newUser.username }}</i></span></td>
												</tr>
												<tr>
													<td><b>Sexo</b></td>
													<td><i>{{ newUser.gender }}</i></td>
												</tr>
												<tr>
													<td><b>BI</b></td>
													<td><span class="label label-info"><i>{{ newUser.ic }}</i></span></td>

												</tr>
												<tr>
													<td><b>Idade</b></td>
													<td v-if="newUser.age > 0"><i>{{ newUser.age }}</i></td>
													<td v-else><i class="label label-warning">Não especificado</i></td>
												</tr>
												<tr>
													<td><b>Email</b></td>
													<td><span class="label label-info"><i>{{ newUser.email }}</i></span></td>

												</tr>
												<tr>
													<td><b>Telefone</b></td>
													<td v-if="newUser.phone != ''"><span class="label" :class="{ 'label-info': newUser.phone, 'none': !newUser.phone }"><i>{{ newUser.phone }}</i></span></td>

													<td v-else><i class="label label-warning">Não especificado</i></td>

												</tr>
												<tr>
													<td><b>Ilha</b></td>
													<td v-if="newUser.state != null"><i>{{ newUser.state }}</i></td>
													<td v-else><i class="label label-warning">Não especificado</i></td>
												</tr>
												<tr>
													<td><b>Concelho</b></td>
													<td v-if="newUser.council != null"><i>{{ newUser.council }}</i></td>
													<td v-else><i class="label label-warning">Não especificado</i></td>
												</tr>
												<tr>
													<td><b>Freguesia</b></td>
													<td v-if="newUser.parish != null"><i>{{ newUser.parish }}</i></td>
													<td v-else><i class="label label-warning">Não especificado</i></td>
												</tr>
												<tr>
													<td><b>Zona</b></td>
													<td v-if="newUser.zone != ''"><i>{{ newUser.zone }}</i></td>
													<td v-else><i class="label label-warning">Não especificado</i></td>
												</tr>
												<tr>
													<td><b>Tipo</b></td>
													<td><span class="label label-primary"><i>{{ newUser.type }}</i></span></td>

												</tr>
												<tr>
													<td><b>Estado</b></td>
													<td><span class='label' :class="{ 'label-info': newUser.status, 'label-danger': !newUser.status }"><i>{{newUser.status ? 'Ativado' : 'Disativado'}}</i></span></td>
												</tr>
												<tr>
													<td><b>Descrição</b></td>
													<td><i>{{ newUser.description }}</i></td>
												</tr>
												<tr>
													<td><b>Data da criação</b></td>
													<td><i>{{ newUser.created_at | formatDate 'DD/MM/YYYY' }}</i></td>
												</tr>
												<tr>
													<td><b>Data de atualização</b></td>
													<td><i>{{ newUser.updated_at | formatDate 'DD/MM/YYYY' }}</i></td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button @click="clearField" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>

				</div>
			</div>


			<div class="modal fade" id="modal-delete-user" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button @click="clearField" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
						</div>
						<div class="modal-body">
							<h5 class="text-center">Eliminar {{newUser.name}}</h5>
						</div>
						<div class="modal-footer">
							<button @click="clearField" type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>
							<button  @keyup.enter="deleteUser(newUser.id)" @click="deleteUser(newUser.id)" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
						</div>
					</div>
				</div>
			</div>


			<!--------------------------------------------------------------------------------------------------------->
			<!-- Modal -->
			<div id="modal-create-user" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Criar Utilizador</h4>
						</div>
						<div class="modal-body">
							<form action="#" methods="POST">
								<div class="row">
									<div class="col-md-12">
										<div class="col-md-6">
											<div class="form-group {{ errors.name ? ' has-error' : '' }} has-feedback">
												<input type="text" class="form-control" name="name" placeholder="Nome Completo" v-model="newUser.name"/>
												<span class="fa fa-user form-control-feedback"></span>
												<p v-if="errors.name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.name }}</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group {{ errors.username ? ' has-error' : '' }} has-feedback">
												<input type="text" class="form-control" name="username" placeholder="utilizador" v-model="newUser.username"/>
												<span class="fa fa-user-circle form-control-feedback"></span>
												<p v-if="errors.username" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.username }}</p>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="col-md-6">
											<div class="form-group {{ errors.email ? ' has-error' : '' }} has-feedback">
												<input type="email" class="form-control" name="email" placeholder="Email" v-model="newUser.email"/>
												<span class="fa fa-envelope form-control-feedback"></span>
												<p v-if="errors.email" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.email }}</p>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group {{ errors.password ? ' has-error' : '' }} has-feedback">
												<input type="password" class="form-control" name="password" placeholder="Password" v-model="newUser.password"/>
												<span class="fa fa-lock form-control-feedback"></span>
												<p v-if="errors.password" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.password }}</p>
											</div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="col-md-6">
											<div class="form-group {{ errors.ic ? ' has-error' : '' }} has-feedback">
												<input v-model="newUser.ic" type="number" class='form-control' placeholder="BI">
												<span class="fa fa-id-card form-control-feedback"></span>
												<p v-if="errors.ic" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.ic }}</p>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group {{ errors.phone ? ' has-error' : '' }} has-feedback">
												<input v-model="newUser.phone"  id="tel" type='number' class='form-control tel' placeholder='Introduza o Numero' v-mask="99/99/9999">
												<span class="fa fa-phone form-control-feedback"></span>
												<p v-if="errors.phone" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.phone }}</p>
											</div>
										</div>
									</div>
								</div>

								<hr><!-------------------------------------------------------------------------------------------------------------------->

								<div class="row">
									<div class="col-md-12">
										<div class="col-md-6">
											<div class="form-group has-feedback">
												<label class="radio-inline">
													<input type="radio" id="gender" value="M" name="gender" v-model="newUser.gender">&nbsp; &nbsp;<i class="fa fa-male" aria-hidden="true"></i> Masculino
												</label>
												<label class="radio-inline">
													<input type="radio" id="gender" name="gender" value="F" v-model="newUser.gender">&nbsp; &nbsp;<i class="fa fa-female" aria-hidden="true"></i> Feminino
												</label>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group has-feedback">
												<input type="number" class="form-control" name="age" placeholder="Idade" min="20" max="50" v-model="newUser.age"/>
												<span class="fa fa-birthday-cake form-control-feedback"></span>
											</div>
										</div>
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-md-12">
										<div class="col-md-6">
											<div class="form-group has-feedback">
												<select name="state" class="form-control" v-model="newUser.state" v-el:statecreate>
													<optgroup label="Sotavento">
														<option  class="disabled" value="" selected>Ilha</option>
														<option value="1">Santiago</option>
														<option value="2">Maio</option>
														<option value="3">Fogo</option>
														<option value="4">Brava</option>
													</optgroup>
													<optgroup label="Barlavento">
														<option value="5">Santo Antão</option>
														<option value="6">São Nicolau</option>
														<option value="7">São Vicente</option>
														<option value="8">Sal</option>
														<option value="9">Boa Vista</option>
													</optgroup>
												</select>
											</div>
										</div>
										<!--#################################################################-->
										<div class="col-md-6">
											<div class="form-group has-feedback">

												<select v-else name="state" class="form-control" v-model="newUser.council" placeholder="Selecina o conceolho" v-el:councilcreate>
													<option value="" selected>Concelho</option>
													<option v-if="newUser.state == 1" value="1">Praia</option>
													<option v-if="newUser.state == 1" value="2">São Domingos</option>
													<option v-if="newUser.state == 1" value="3">Santa Catarina</option>
													<option v-if="newUser.state == 1" value="4">São Salvador do Mundo</option>
													<option v-if="newUser.state == 1" value="5">Santa Cruz</option>
													<option v-if="newUser.state == 1" value="6">São Lourenço dos Órgãos</option>
													<option v-if="newUser.state == 1" value="7">Ribeira Grande de Santiago</option>
													<option v-if="newUser.state == 1" value="8">São Miguel</option>
													<option v-if="newUser.state == 1" value="9">Tarafal</option>
													<option v-if="newUser.state == 2" value="10">Maio</option>
													<option v-if="newUser.state == 3" value="11">São Filipe</option>
													<option v-if="newUser.state == 3" value="12">Santa Catarina do Fogo</option>
													<option v-if="newUser.state == 3" value="13">Mosteiros</option>
													<option v-if="newUser.state == 5" value="14">Ribeira Grande</option>
													<option v-if="newUser.state == 5" value="15">Paul</option>
													<option v-if="newUser.state == 5" value="16">Porto Novo</option>
													<option v-if="newUser.state == 6" value="17">Ribeira Brava</option>
													<option v-if="newUser.state == 6" value="18">Tarrafal de São Nicolau</option>
													<option v-if="newUser.state == 7" value="19">São Vicente</option>
													<option v-if="newUser.state == 8" value="20">Sal</option>
													<option v-if="newUser.state == 9" value="21">Boa Vista</option>
													<option v-if="newUser.state == 4" value="22">Brava</option>
												</select>
											</div>
										</div>
										<!--#################################################################-->

									</div>
								</div>


								<div class="row">
									<div class="col-md-12">
										<div class="col-md-6">
											<div class="form-group has-feedback">
												<select v-else name="state" class="form-control" v-model="newUser.parish" placeholder="Selecina o conceolho" v-el:parishcreate>
													<option value="" selected>Freguesia</option>
													<option v-if="(newUser.council == 10 && newUser.state == 2) || (newUser.council == 2 && newUser.state == 1) || (newUser.council == 19 && newUser.state == 7)" value="1">Nossa Senhora da Luz</option>
													<option v-if="(newUser.council == 1 && newUser.state == 1)" value="2">Nossa Senhora da Graça</option>
													<option v-if="newUser.council == 2 && newUser.state == 1" value="3">São Nicolau Tolentino</option>
													<option v-if="(newUser.council == 3 && newUser.state == 1) || (newUser.council == 12 && newUser.state == 3)" value="4">Santa Catarina</option>
													<option v-if="newUser.council == 4  && newUser.state == 1" value="5">São Salvador do Mundo</option>
													<option v-if="newUser.council == 5  && newUser.state == 1" value="6">Santiago Maior</option>
													<option v-if="(newUser.council == 6  && newUser.state == 1) || (newUser.council == 11  && newUser.state == 3)" value="7">São Lourenço</option>
													<option v-if="newUser.council == 7 && newUser.state == 1" value="8">Santíssimo Nome de Jesus</option>
													<option v-if="newUser.council == 14 && newUser.state == 5" value="9">Santo Crucifixo</option>
													<option v-if="newUser.council == 14 && newUser.state == 5" value="17">Nossa Senhora do Livramento</option>
													<option v-if="newUser.council == 14 && newUser.state == 5" value="18">São Pedro Apóstolo</option>
													<option v-if="newUser.council == 8 && newUser.state == 1" value="10">São Miguel Arcanjo</option>
													<option v-if="newUser.council == 9 && newUser.state == 1" value="11">Santo Amaro Abade</option>
													<option v-if="newUser.council == 11 && newUser.state == 3" value="12">Nossa Senhora da Conceição</option>
													<option v-if="newUser.council == 13 && newUser.state == 3" value="13">Nossa Senhora da Ajuda</option>
													<option v-if="(newUser.council == 16 && newUser.state == 5) || (newUser.council == 21 && newUser.state == 9) || (newUser.council == 7 && newUser.state == 1)" value="14">São João Baptista</option>
													<option v-if="newUser.council == 22 && newUser.state == 4" value="15">Nossa Senhora do Monte</option>
													<option v-if="(newUser.council == 17 && newUser.state == 6) || (newUser.council == 14 && newUser.state == 5)" value="16">Nossa Senhora do Rosário</option>
													<option v-if="newUser.council == 15 && newUser.state == 5" value="19">Santo António das Pombas</option>
													<option v-if="newUser.council == 16 && newUser.state == 5" value="20">Santo André</option>
													<option v-if="newUser.council == 17 && newUser.state == 6" value="21">Nossa Senhora da Lapa</option>
													<option v-if="newUser.council == 18 && newUser.state == 6" value="22">São Francisco</option>
													<option v-if="newUser.council == 20 && newUser.state == 8" value="23">Nossa Senhora das Dores</option>
													<option v-if="newUser.council == 21 && newUser.state == 9" value="24">Santa Isabel</option>
												</select>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group has-feedback">
												<input type="text" class="form-control" name="zone" placeholder="Zona" v-model="newUser.zone"/>
												<span class="fa fa-thumb-tack form-control-feedback"></span>
											</div>
										</div>
									</div>
								</div>

								<hr><!---------------------------------------------------------------------------------------------------------------->



								<div class="row">
									<div class="col-md-12">
										<div class="col-md-6">
											<div class="form-group has-feedback">
												<select name="state" class="form-control" v-model="newUser.type" v-el:typecreate>
													<option value="member">Membro</option>
													<option value="emp">Funcionário</option>
													<option value="trad">Comerciante</option>
												</select>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group has-feedback">
												<select class="form-control" v-model="newUser.roles" multiple="multiple" v-el:rolescreate>
													<option v-for="role in roles" value="{{role.id}}">
														{{role.display_name}}
													</option>
												</select>
												<!-- <input type="text" name="" value=""> -->
											</div>
										</div>
									</div>
								</div>


								<hr><!---------------------------------------------------------------------------------------------------------------->

								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<textarea name="description" placeholder="Descrição do utilizador" class="form-control" rows="5" cols="40" id="description" v-model="newUser.description"></textarea>
											</div>
										</div>
									</div>
								</div>
							</form>
						</validator>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

						<button @click="createUser" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar</button>
					</div>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<!-- Modal -->
		<div id="modal-edit-user" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-edit faa-burst faa-slow animated text-primary"></i></h4>
					</div>
					<div class="modal-body">
						<form methods="patch">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group {{ errors.name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="name" placeholder="Nome Completo" v-model="newUser.name"/>
											<span class="fa fa-user form-control-feedback"></span>
											<p v-if="errors.name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.name }}</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group {{ errors.username ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="username" placeholder="utilizador" v-model="newUser.username"/>
											<span class="fa fa-user-circle form-control-feedback"></span>
											<p v-if="errors.username" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.username }}</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group {{ errors.email ? ' has-error' : '' }} has-feedback">
											<input type="email" class="form-control" name="email" placeholder="Email" v-model="newUser.email"/>
											<span class="fa fa-envelope form-control-feedback"></span>
											<p v-if="errors.email" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.email }}</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group {{ errors.password ? ' has-error' : '' }} has-feedback">
											<input type="password" class="form-control" name="password" placeholder="Password" v-model="newUser.password" readonly/>
											<span class="fa fa-lock form-control-feedback"></span>
											<p v-if="errors.password" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.password }}</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group {{ errors.ic ? ' has-error' : '' }} has-feedback">
											<input v-model="newUser.ic" type="number" class='form-control' placeholder="BI">
											<span class="fa fa-id-card form-control-feedback"></span>
											<p v-if="errors.ic" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.ic }}</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group {{ errors.phone ? ' has-error' : '' }} has-feedback">
											<input v-model="newUser.phone"  id="tel" type='number' class='form-control tel' placeholder='Introduza o Numero' v-mask="99/99/9999">
											<span class="fa fa-phone form-control-feedback"></span>
											<p v-if="errors.phone" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.phone }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr><!-------------------------------------------------------------------------------------------------------------------->

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group has-feedback">
											<label class="radio-inline">
												<input type="radio" id="gender" value="M" name="gender" v-model="newUser.gender">&nbsp; &nbsp;<i class="fa fa-male" aria-hidden="true"></i> Masculino
											</label>
											<label class="radio-inline">
												<input type="radio" id="gender" name="gender" value="F" v-model="newUser.gender">&nbsp; &nbsp;<i class="fa fa-female" aria-hidden="true"></i> Feminino
											</label>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group has-feedback">
											<input type="number" class="form-control" name="age" placeholder="Idade" min="20" max="50" v-model="newUser.age"/>
											<span class="fa fa-birthday-cake form-control-feedback"></span>
										</div>
									</div>
								</div>
							</div>

							<hr>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group has-feedback">
											<select name="state" class="form-control" v-model="newUser.state" v-el:stateedit>
												<optgroup label="Sotavento">
													<option  class="disabled" value="" selected>Ilha</option>
													<option value="1">Santiago</option>
													<option value="2">Maio</option>
													<option value="3">Fogo</option>
													<option value="4">Brava</option>
												</optgroup>
												<optgroup label="Barlavento">
													<option value="5">Santo Antão</option>
													<option value="6">São Nicolau</option>
													<option value="7">São Vicente</option>
													<option value="8">Sal</option>
													<option value="9">Boa Vista</option>
												</optgroup>
											</select>
										</div>
									</div>
									<!--#################################################################-->
									<div class="col-md-6">
										<div class="form-group has-feedback">

											<select v-else name="state" class="form-control" v-model="newUser.council" placeholder="Selecina o conceolho" v-el:counciledit>
												<option value="" selected>Concelho</option>
												<option v-if="newUser.state == 1" value="1">Praia</option>
												<option v-if="newUser.state == 1" value="2">São Domingos</option>
												<option v-if="newUser.state == 1" value="3">Santa Catarina</option>
												<option v-if="newUser.state == 1" value="4">São Salvador do Mundo</option>
												<option v-if="newUser.state == 1" value="5">Santa Cruz</option>
												<option v-if="newUser.state == 1" value="6">São Lourenço dos Órgãos</option>
												<option v-if="newUser.state == 1" value="7">Ribeira Grande de Santiago</option>
												<option v-if="newUser.state == 1" value="8">São Miguel</option>
												<option v-if="newUser.state == 1" value="9">Tarafal</option>
												<option v-if="newUser.state == 2" value="10">Maio</option>
												<option v-if="newUser.state == 3" value="11">São Filipe</option>
												<option v-if="newUser.state == 3" value="12">Santa Catarina do Fogo</option>
												<option v-if="newUser.state == 3" value="13">Mosteiros</option>
												<option v-if="newUser.state == 5" value="14">Ribeira Grande</option>
												<option v-if="newUser.state == 5" value="15">Paul</option>
												<option v-if="newUser.state == 5" value="16">Porto Novo</option>
												<option v-if="newUser.state == 6" value="17">Ribeira Brava</option>
												<option v-if="newUser.state == 6" value="18">Tarrafal de São Nicolau</option>
												<option v-if="newUser.state == 7" value="19">São Vicente</option>
												<option v-if="newUser.state == 8" value="20">Sal</option>
												<option v-if="newUser.state == 9" value="21">Boa Vista</option>
												<option v-if="newUser.state == 4" value="22">Brava</option>
											</select>
										</div>
									</div>
									<!--#################################################################-->

								</div>
							</div>


							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group has-feedback">
											<select v-else name="state" class="form-control" v-model="newUser.parish" placeholder="Selecina o conceolho" v-el:parishedit>
												<option value="" selected>Freguesia</option>
												<option v-if="(newUser.council == 10 && newUser.state == 2) || (newUser.council == 2 && newUser.state == 1) || (newUser.council == 19 && newUser.state == 7)" value="1">Nossa Senhora da Luz</option>
												<option v-if="(newUser.council == 1 && newUser.state == 1)" value="2">Nossa Senhora da Graça</option>
												<option v-if="newUser.council == 2 && newUser.state == 1" value="3">São Nicolau Tolentino</option>
												<option v-if="(newUser.council == 3 && newUser.state == 1) || (newUser.council == 12 && newUser.state == 3)" value="4">Santa Catarina</option>
												<option v-if="newUser.council == 4  && newUser.state == 1" value="5">São Salvador do Mundo</option>
												<option v-if="newUser.council == 5  && newUser.state == 1" value="6">Santiago Maior</option>
												<option v-if="(newUser.council == 6  && newUser.state == 1) || (newUser.council == 11  && newUser.state == 3)" value="7">São Lourenço</option>
												<option v-if="newUser.council == 7 && newUser.state == 1" value="8">Santíssimo Nome de Jesus</option>
												<option v-if="newUser.council == 14 && newUser.state == 5" value="9">Santo Crucifixo</option>
												<option v-if="newUser.council == 14 && newUser.state == 5" value="17">Nossa Senhora do Livramento</option>
												<option v-if="newUser.council == 14 && newUser.state == 5" value="18">São Pedro Apóstolo</option>
												<option v-if="newUser.council == 8 && newUser.state == 1" value="10">São Miguel Arcanjo</option>
												<option v-if="newUser.council == 9 && newUser.state == 1" value="11">Santo Amaro Abade</option>
												<option v-if="newUser.council == 11 && newUser.state == 3" value="12">Nossa Senhora da Conceição</option>
												<option v-if="newUser.council == 13 && newUser.state == 3" value="13">Nossa Senhora da Ajuda</option>
												<option v-if="(newUser.council == 16 && newUser.state == 5) || (newUser.council == 21 && newUser.state == 9) || (newUser.council == 7 && newUser.state == 1)" value="14">São João Baptista</option>
												<option v-if="newUser.council == 22 && newUser.state == 4" value="15">Nossa Senhora do Monte</option>
												<option v-if="(newUser.council == 17 && newUser.state == 6) || (newUser.council == 14 && newUser.state == 5)" value="16">Nossa Senhora do Rosário</option>
												<option v-if="newUser.council == 15 && newUser.state == 5" value="19">Santo António das Pombas</option>
												<option v-if="newUser.council == 16 && newUser.state == 5" value="20">Santo André</option>
												<option v-if="newUser.council == 17 && newUser.state == 6" value="21">Nossa Senhora da Lapa</option>
												<option v-if="newUser.council == 18 && newUser.state == 6" value="22">São Francisco</option>
												<option v-if="newUser.council == 20 && newUser.state == 8" value="23">Nossa Senhora das Dores</option>
												<option v-if="newUser.council == 21 && newUser.state == 9" value="24">Santa Isabel</option>
											</select>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group has-feedback">
											<input type="text" class="form-control" name="zone" placeholder="Zona" v-model="newUser.zone"/>
											<span class="fa fa-thumb-tack form-control-feedback"></span>
										</div>
									</div>
								</div>
							</div>

							<hr><!---------------------------------------------------------------------------------------------------------------->



							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group has-feedback">
											<select name="state" class="form-control" v-model="newUser.type" v-el:typeedit>
												<option value="member">Membro</option>
												<option value="emp">Funcionário</option>
												<option value="trad">Comerciante</option>
											</select>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group has-feedback">
											<select class="form-control" v-model="newUser.roles" multiple="multiple" v-el:rolesedit>
												<option v-for="role in roles" value="{{role.id}}">
													{{role.display_name}}
												</option>
											</select>
											<!-- <input type="text" name="" value=""> -->
										</div>
									</div>
								</div>
							</div>


							<hr><!---------------------------------------------------------------------------------------------------------------->

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group has-feedback">
											<textarea name="description" placeholder="Descrição do utilizador" class="form-control" rows="5" cols="40" id="description" v-model="newUser.description"></textarea>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Close</button>
						<button v-on:show="" @click="saveEditedUser(newUser.id)" type="button" class="btn btn-primary"><i class="fa fa-refresh fa-spin"></i>&nbsp; &nbsp;&nbsp; Atualizar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
