<div  id="alert-message" class="alert alert-{{typeAlert}}" transition="success" v-if="success">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<i class="fa fa-thumbs-o-up text-center">&nbsp;&nbsp; {{msgSucess}}</i>
</div>
<div class="row">

	<div class="col-md-12">
		<div class="form-inline pull-right">
			<div class="input-group">
				<select data-toggle="tooltip" title="A mostrar linhas na tabela" class="selectpicker show-tick show-menu-arrow" data-style="btn-primary" name="" v-model="showRow" @change="fetchPromotion(1, showRow)">
					<option class="" value="5">05</option>
					<option class="" value="10" selected>10</option>
					<option class="" value="20">20</option>
					<option class="" value="50">50</option>
					<option class="" value="100">100</option>
					<option class="" value="200">200</option>
				</select>
			</div>
			<div class="input-group">
				<select data-toggle="tooltip" title="Escolhe as colunas a serem filtrados" class="form-control" name="" v-model="columnsFiltered" multiple="multiple" v-el:promotioncols>
					<option class="" value="name"="">Nome</option>
					<option class="" value="begnning_date">Inicio</option>
					<option class="" value="ending_date">Término</option>
					<option class="" value="trader_id">Comerciante</option>
				</select>
			</div>
			<div v-if="columnsFiltered.length != 0" class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input data-toggle="tooltip" title="Escreva o valor a ser procurado na Tabela"
				v-model="filter.term"
				@keyup="doFilter"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>

			<div v-else class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input :disabled="columnsFiltered.length == 0" data-toggle="tooltip" title="Para ativar introduza um valor na Coluna"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>
		</div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-8">
		<div class="btn-group">
			<button v-if = "traders.length > 0 && products.length > 0" @click="clearField" class="btn btn-primary btn-flat btn-outline pull-left" name="button" data-toggle="modal" data-target="#modal-create-promotion"><i class="fa fa-plus"></i> Novo</button>
			<button v-else data-toggle="tooltip" title="Não podes criar promoção referenciar comerciante e produtos" type="button" class="btn btn-danger btn-flat"><i class="fa fa-minus"></i> Novo</button>
		</div>
		<div class="btn-group">
			<a disabled = "traders.length == 0 || products.length == 0" class="btn btn-primary btn-flat btn-outline" href="#" data-toggle="modal" data-target="#send-trader-per-email"><i class="fa fa-envelope-o"></i> Enviar</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="btn-group pull-right">
			<button data-toggle="modal" data-target="#deleteAllPromotions"  v-if="deleteMultIten.length > 0" class="btn btn-danger btn-flat btn-outline"  type="button" name="button"><i class="fa fa-trash-o"></i> Apagar Todos</button>
		</div>
	</div>

	<div class="modal fade" id="deleteAllPromotions" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
				</div>
				<div class="modal-body">
					<h5 class="text-center">Eliminar {{deleteMultIten.length}} Registo(s)?</h5>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>
					<button  @click = "deleteMultPromotions" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
				</div>
			</div>
		</div>
	</div>

</div>
<br>
<div class="row">
	<div class="col-md-12">
		<div class='table-responsive'>
			<table class='table table-striped table-hover table-condensed'>
				<thead>
					<tr>
						<th>
							<input :disabled="canDeleteAll()" type="checkbox" name="" value="" @click="selectAll" v-model="allSelected">
						</th>

						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'name')">Nome</a>
						</th>

						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'ending_date' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'ending_date' &&   sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'ending_date')">Término</a>
						</th>

						<th v-if="checkPermition()" class="text-center">
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'state' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'state' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'state')">Estado</a>
						</th>


						<th class="info" v-if="showColumn.trader_id">
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'trader_id' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'trader_id' &&   sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'trader_id')">Comerciante</a>
						</th>


						<th  class="text-center" colspan="3"><i class="fa fa-cogs"></i> <span class="text-primary">Operações</span></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="promotion in promotions | orderBy sortColumn sortInverse">
						<td><input :disabled="promotion.status" type="checkbox" name="" v-model="deleteMultIten" :value="promotion.id"></td>

						<td>{{ promotion.name }}</td>
						<td>{{ promotion.ending_date }}</td>


						<!------------------------------------------------------------------------------------>
						<td  class="text-center" v-if="promotion.status && checkPermition()">
							<button data-toggle="tooltip" title="Despublicar esta promoção" type="submit" @click = "promotionStatus(promotion.id)" class='btn btn-xs' :class="{ 'btn-success': promotion.status, 'btn-danger': !promotion.status }"><i class="fa fa-check"></i></button>
						</td>

						<td  class="text-center" v-if="!promotion.status && checkPermition()">
							<button data-toggle="tooltip" title="Publicar esta promoção" type="submit" @click = "promotionStatus(promotion.id)" class='btn btn-xs' :class="{ 'btn-success': promotion.status, 'btn-danger': !promotion.status }"><i class="fa fa-times"></i></button>
						</td>
						<!------------------------------------------------------------------------------------>


						<td class="info" v-if="showColumn.trader_id">{{ promotion.trader.name }}</td>

						<td align=center>  <a  class="btn btn-default btn-xs" data-toggle="modal" data-target="#show-promotion" href="#"> <i class="fa fa-eye text-success" @click="getThisPromotion(promotion.id)" > </i></a></td>

						<td v-show="!promotion.status" align=center>  <a  class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-edit-promotion" href="#"> <i class="fa fa-edit text-primary" @click="getThisPromotion(promotion.id)" > </i></a></td>

						<td v-show="!promotion.status" align=center><a  class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-delete-promotion" href="#"><i class="fa fa-trash text-danger" @click="getThisPromotion(promotion.id)" ></i></a></td>
					</tr>
				</tbody>
			</table>
				<div class="col-md-6 pull-left" v-if="pagination.total > showRow">
					<Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
				</div>
				<div class="col-md-6 pull-right">
					<h6 class="text-right text-help"> Mostrar de <span class="badge">{{pagination.from}}</span>  a <span class="badge">{{pagination.to}}</span>  no total de <span class="badge">{{pagination.total}}</span></h6>
				</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->
		<div id="show-promotion" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="text-success fa fa-eye faa-flash animated faa-slow"></i> Detalhes</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<div class='table-responsive'>
									<table class='table table-hover table-condensed'>
										<thead>
											<tr>
												<th class="text-center" colspan="2">INFORMAÇOES DE PROMOÇÃO</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><b>ID</b></td>
												<td><i>{{ newPromotion.id }}</i></td>
											</tr>
											<tr>
												<td><b>Nome</b></td>
												<td><i>{{ newPromotion.name }}</i></td>
											</tr>
											<tr>
												<td><b>Início</b></td>
												<td><span><i>{{ newPromotion.begnning_date }}</i></span></td>

											</tr>
											<tr>
												<td><b>Término</b></td>
												<td><i>{{ newPromotion.ending_date }}</i></td>
											</tr>
											<tr>
												<td><b>Publicação</b></td>
												<td><span class='label' :class="{ 'label-success': newPromotion.status, 'label-danger': !newPromotion.status }"><i>{{newPromotion.status ? 'Publicado' : 'Aguardando'}}</i></span></td>
											</tr>

											<tr>
												<td><b>Comerciante</b></td>
												<td><i class="label label-success">{{newPromotion.trader}}</i></td>
											</tr>

											<tr>
												<td><b>Produto</b></td>
												<td><i class="label label-primary">{{newPromotion.product}}</i></td>
											</tr>

											<tr>
												<td><b>Criado em: </b></td>
												<td><i>{{ promotion.created_at | formatDate 'DD/MM/YYYY' }}</i></td>
											</tr>
											<tr>
												<td><b>Atualizado em: </b></td>
												<td><i>{{ promotion.updated_at | formatDate 'DD/MM/YYYY' }}</i></td>
											</tr>
											<tr>
												<td><b>Descrição</b></td>
												<td><i>{{ newPromotion.description }}</i></td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i></button>


					</div>
				</div>

			</div>
		</div>



		<!--------------------------------------------------------------------------------------------------------->

		<div class="modal fade" id="modal-delete-promotion" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
					</div>
					<div class="modal-body">
						<h5 class="text-center">Eliminar?</h5>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>
						<button  @keyup.enter="deletePromotion(newPromotion.id)" @click="deletePromotion(newPromotion.id)" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
					</div>
				</div>
			</div>
		</div>


		<!--------------------------------------------------------------------------------------------------------->
		<!-- Modal -->
		<div id="modal-create-promotion" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-plus faa-burst animated faa-slow"></i></h4>
					</div>
					<div class="modal-body">
						<form action="#" methods="POST">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="name" placeholder="Nome" v-model="newPromotion.name"/>
											<span class="fa fa-user form-control-feedback"></span>
												<p v-if="errors.name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.name }}</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group {{ errors.begnning_date ? ' has-error' : '' }} has-feedback">
											<date-picker :time.sync="newPromotion.begnning_date" :option="option" :limit="limit"></date-picker>

											<p class="text-help">Data de início da promoção</p>
												<p v-if="errors.begnning_date" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.begnning_date }}</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group has-feedback">
											<date-picker :time.sync="newPromotion.ending_date" :option="option" :limit="limit"></date-picker>
											<p class="text-help">Término da promoção</p>
												<p v-if="errors.ending_date" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.ending_date }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr><!------------------------------------------------------------>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group {{ errors.trader_id ? ' has-error' : '' }} has-feedback">
											<select name="trader_id" class="form-control" v-model="newPromotion.trader_id" v-el:tradercreate>
												<option v-for="trader in traders" value="{{trader.id}}">{{trader.name}}</option>
											</select>
												<p v-if="errors.trader_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.trader_id }}</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group {{ errors.product_id ? ' has-error' : '' }} has-feedback">
											<select name="product_id" class="form-control" v-model="newPromotion.product_id"v-el:productcreate>
												<option v-for="product in products" value="{{product.id}}">
													{{product.name}}
												</option>
											</select>
												<p v-if="errors.product_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.product_id }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr><!------------------------------------------------------------>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.description ? ' has-error' : '' }} has-feedback">
											<textarea name="description" placeholder="Descrição..." class="form-control" rows="5" cols="40" id="description" v-model="newPromotion.description"></textarea>
											<p v-if="errors.description" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.description }}</p>
										</div>
									</div>
								</div>
							</div>
						</form>

					</div>
					<div class="modal-footer">
						<div class="col-md-12">
							<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

							<button :disabled = "!$validationew.valid" @click="createPromotion" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar</button>

						</div>
					</div>
				</div>

			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->


		<!-- Modal -->
		<div id="modal-edit-promotion" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Editar</h4>
					</div>
					<div class="modal-body">

						<form methods="patch">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.name ? ' has-error' : '' }} has-feedback">
											<input type="text" class="form-control" name="name" placeholder="Nome" v-model="newPromotion.name"/>
											<span class="fa fa-user form-control-feedback"></span>
											<p v-if="errors.name" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.name }}</p>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group {{ errors.begnning_date ? ' has-error' : '' }} has-feedback">
											<date-picker :time.sync="newPromotion.begnning_date" :option="option" :limit="limit"></date-picker>

											<p class="text-help">Data de início da promoção</p>
												<p v-if="errors.begnning_date" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.begnning_date }}</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group {{ errors.ending_date ? ' has-error' : '' }} has-feedback">
											<date-picker :time.sync="newPromotion.ending_date" :option="option" :limit="limit"></date-picker>
											<p class="text-help">Término da promoção</p>
											<p v-if="errors.ending_date" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.ending_date }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr><!------------------------------------------------------------>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group {{ errors.trader_id ? ' has-error' : '' }} has-feedback">
											<select name="trader_id" class="form-control" v-model="newPromotion.trader_id" v-el:traderedit>
												<option v-for="trader in traders" value="{{trader.id}}">{{trader.name}}</option>
											</select>
												<p v-if="errors.trader_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.trader_id }}</p>
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group {{ errors.product_id ? ' has-error' : '' }} has-feedback">
											<select name="product_id" class="form-control" v-model="newPromotion.product_id"v-el:productedit>
												<option v-for="product in products" value="{{product.id}}">
													{{product.name}}
												</option>
											</select>
												<p v-if="errors.product_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.product_id }}</p>
										</div>
									</div>
								</div>
							</div>

							<hr><!------------------------------------------------------------>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.description ? ' has-error' : '' }} has-feedback">
											<textarea name="description" placeholder="Descrição..." class="form-control" rows="5" cols="40" id="description" v-model="newPromotion.description"></textarea>
											<p v-if="errors.description" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.description }}</p>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="col-md-12">
							<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Close</button>
							<button v-on:show="" @click="saveEditedPromotion(newPromotion.id)" type="button" class="btn btn-primary"><i class="fa fa-refresh fa-spin"></i>&nbsp; &nbsp;&nbsp; Atualizar</button>

						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
