
<div  id="alert-message" class="alert alert-{{typeAlert}}" transition="success" v-if="success">
	<button type="button" class="close" data-dismiss="alert">x</button>
	<i class="fa fa-thumbs-o-up text-center">&nbsp;&nbsp; {{msgSucess}}</i>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-inline pull-left">
			<div class="input-group">
				<select data-toggle="tooltip" title="Escolhe Tipo de Cobrança a apresentar" class="form-control selectpicker show-tick show-menu-arrow" data-style="btn-primary" name="" v-model="typeData"  @change="fetchTaxation(1, showRow, typeData)">
					<option class="" selected value="0"="">Todos</option>
					<option class="" value="1">CI Interno</option>
					<option class="" value="2">CI Externo</option>
				</select>
			</div>
		</div>

		<div class="form-inline pull-right">
			<div class="input-group">
				<select data-toggle="tooltip" title="Nº de linhas" class="selectpicker show-tick show-menu-arrow" data-style="btn-primary" name="" v-model="showRow" @change="fetchTaxation(1, showRow, typeData)">
					<option class="" value="5">05</option>
					<option class="" value="10" selected>10</option>
					<option class="" value="20">20</option>
					<option class="" value="50">50</option>
					<option class="" value="100">100</option>
					<option class="" value="200">200</option>
				</select>
			</div>
			<div class="input-group">
				<select data-toggle="tooltip" title="Escolhe as colunas a serem filtrados" class="form-control" name="" v-model="columnsFiltered" multiple="multiple" v-el:taxationcols>
					<option class="" value="place_id">Espaços</option>
					<option class="" value="income">Valor</option>
				</select>
			</div>
			<div v-if="columnsFiltered.length != 0" class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input data-toggle="tooltip" title="Escreva o valor a ser procurado na Tabela"
				v-model="filter.term"
				@keyup="doFilter"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>

			<div v-else class="input-group">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
				<input :disabled="columnsFiltered.length == 0" data-toggle="tooltip" title="Para ativar introduza um valor na Coluna"
				type="text"
				class="form-control"
				placeholder="Filtrar dados da tabela"
				aria-describedby="basic-addon1">
			</div>
		</div>
	</div>
</div>
<hr>

<div class="row">
	<!-- <div v-if="(placesInt.length > 0 | placesInt.length > 0) && employees.length > 0" class="col-md-12"> -->
	<div class="col-md-8">
		<div class="btn-group">
			<button @click="clearField" class="btn btn-primary btn-flat btn-outline pull-left" name="button" data-toggle="modal" data-target="#modal-create-taxation"><i class="fa fa-plus"></i> Novo</button>
		</div>
		<div class="btn-group">
			<a class="btn btn-primary btn-flat btn-outline" href="/export/taxationsPDF"><i class="fa fa-file-pdf-o"></i> PDF</a>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-info btn-flat  btn-outline"><i class="fa fa-file-text-o"></i> Relatório</button>
			<button type="button" class="btn btn-info btn-flat  btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">Toggle Dropdown</span>
			</button>
			<ul class="dropdown-menu">
				<li><a data-toggle="modal" data-target="#modal-report-date" href="#">Diário</a></li>
				<li><a data-toggle="modal" data-target="#modal-report-month" href="#">Mensal</a></li>
				<li><a data-toggle="modal" data-target="#modal-report-year" href="#">Anual</a></li>
			</ul>
		</div>

		<div class="btn-group">
			<button class="btn btn-primary btn-flat btn-outline pull-left" name="button" data-toggle="modal" data-target="#"><i class="fa fa-envelope-o"></i> Enviar</button>
		</div>
	</div>

	<div class="col-md-4">
		<div class="btn-group pull-right">
			<button data-toggle="modal" data-target="#deleteAllTaxations"  v-if="deleteMultIten.length > 0" class="btn btn-danger btn-flat btn-outline"  type="button" name="button"><i class="fa fa-trash-o"></i> Apagar Todos</button>
		</div>
	</div>

	<div class="modal fade" id="deleteAllTaxations" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
				</div>
				<div class="modal-body">
					<h5 class="text-center">Eliminar {{deleteMultIten.length}} Mercado(s)?</h5>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>
					<button  @click = "deleteMultTaxations" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
				</div>
			</div>
		</div>
	</div>



	<div class="modal fade" id="modal-report-date" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id=""><i class="fa fa-calendar faa-burst animated faa-slow"></i></h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<div class="table-responsive">
							<date-picker :time.sync="report.day" :option="option" :limit="limit"></date-picker>
							<span class="text-help text-success">Introduza a data</span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
					<a v-if="report.day" class="btn btn-primary btn-xs" href="/export/dateRoportInformation/{{report.day}}"><i class="fa fa-list faa-horizontal animated" aria-hidden="true"> Enviar</i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-report-month" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id=""><i class="fa fa-calendar faa-burst animated faa-slow"></i></h4>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col-md-12">
							<div class="col-md-12">
								<div class="form-group">
									<select class="form-control" v-model="report.month">
										<option value="">Mês</option>
										<option value="01">Janeiro</option>
										<option value="02">Fevereiro</option>
										<option value="03">Março</option>
										<option value="04">Abril</option>
										<option value="05">Maio</option>
										<option value="06">Junho</option>
										<option value="07">Julho</option>
										<option value="08">Agosto</option>
										<option value="09">Setembro</option>
										<option value="10">Outubro</option>
										<option value="11">Novembro</option>
										<option value="12">Desembro</option>
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div  class="col-md-12">
							<div  class="col-md-12">
								<div class="form-group">
									<select v-if="report.month"  class="form-control" v-model="report.year">
										<option value="">Ano</option>
										<option value="2013">2013</option>
										<option value="2014">2014</option>
										<option value="2015">2015</option>
										<option value="2016">2016</option>
										<option value="2017">2017</option>
									</select>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
					<a v-if="report.year && report.month" class="btn btn-primary btn-xs" href="/export/monthRoportInformation/{{report.month}}/{{report.year}}"> <i class="fa fa-list faa-horizontal animated" aria-hidden="true"> Enviar</i></a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-report-year" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id=""><i class="fa fa-calendar faa-burst animated faa-slow"></i></h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-12">
							<div class="col-md-12">
								<div class="form-group">
									<select class="form-control" v-model="report.year" v-el:year>
										<option value="" selected>Ano</option>
										<option value="2013">2013</option>
										<option value="2014">2014</option>
										<option value="2015">2015</option>
										<option value="2016">2016</option>
										<option value="2017">2017</option>
									</select>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
					<a v-if="report.year" class="btn btn-primary btn-xs" href="/export/yearRoportInformation/{{report.year}}"><i class="fa fa-list faa-horizontal animated" aria-hidden="true"> Enviar</i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-12">
		<div class='table-responsive'>
			<table class='table table-striped table-hover'>
				<thead>
					<tr>
						<th><input :disabled="!checkPermition()" type="checkbox" name="" value="" @click="selectAll" v-model="allSelected"></th>

						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'place_id' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'place_id' && sortInverse == -1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'place_id')">Espaços</a>
						</th>

						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'income' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'income' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'income')">Valor ($)</a>
						</th>

						<th  class="text-center" colspan="4"><i class="fa fa-cogs"></i> <span class=" text-primary">Operações</span></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="taxation in taxations | orderBy sortColumn sortInverse">
						<td><input :disabled = "!checkPermition()" type="checkbox" name="" v-model="deleteMultIten" :value="taxation.id"></td>

						<td v-for="place in taxation.places">
							<span v-if="place.traders.length > 0">
								<span class="label label-primary" v-for="trader in place.traders">{{ place.name }}</span>
							</span>
							<span class="label label-default" v-else>{{ place.name }}</span>
						</td>
						<td>{{ taxation.income  | currency 'ECV  ' 2 }}</td>

						<td align=center><a class="btn btn-default btn-xs" @click="getThisTaxation(taxation.id)" href="" data-toggle="modal" data-target="#view-taxation"><i class="fa fa-eye text-success"></i></a></td>

						<td v-if="checkPermition()" align=center>  <a class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-edit-taxation" href="#"><i class="fa fa-edit text-primary" @click="getThisTaxation(taxation.id)"></i></a></td>

						<td v-if="checkPermition()" align=center><a class="btn btn-default btn-xs" data-toggle="modal" data-target="#modal-delete-taxation" href="#"><i class="fa fa-trash text-danger" @click="getThisTaxation(taxation.id)"></i></a></td>

						<td align=center><a class="btn btn-default btn-xs" href="/export/receiptInformation/{{taxation.id}}"><i class="fa fa-print text-info"></i></a></td>

						<!-- <td align=center><a @click="getThisTaxation(taxation.id)" href="" data-toggle="modal" data-target="#send-email"><i class="fa fa-envelope-o text-success"></i></a></td> -->
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div v-if="pagination.total > showRow" class="col-md-6 pull-left">
					<Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
				</div>
				<div class="col-md-6 pull-right">
					<h6 class="text-right text-help"> Mostrar de <span class="badge">{{pagination.from}}</span>  a <span class="badge">{{pagination.to}}</span>  no total de <span class="badge">{{pagination.total}}</span></h6>
				</div>
			</div>
			<br>
			<hr>
			<div class="pull-left">
				<button v-if="trashedTaxations.length > 0 && checkSuperPermition()" data-toggle="modal" data-target = "#trashedTaxation" type="button" class="btn btn-link">Ver Cobranças Apagadas</button>

				<div class="modal fade" id="trashedTaxation" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h5 class="modal-title" id=""><i class="fa fa-exclamation-triangle faa-shake animated"></i></h5>
							</div>
							<div class="modal-body">
								<div class="input-group">
									<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
									<input v-model="filter.trash"

									type="text"
									class="form-control"
									placeholder="Filtrar dados da tabela"
									aria-describedby="basic-addon1">
								</div>
								<hr>
								<div class='table-responsive'>
									<table class='table table-striped table-hover'>
										<thead>
											<tr>
												<th>ID</th>
												<th>Funcionário</th>
												<th>Valor</th>
												<th class="text-center" colspan="2"><i class="fa fa-cog text-primary"></i> Operações</th>
											</tr>
										</thead>
										<tbody>
											<tr v-for="trashed in trashedTaxations | filterBy filter.trash">
												<td>{{trashed.id}}</td>
												<td v-for="emp in trashed.employees">{{emp.name}}</td>
												<td>{{trashed.income | currency 'ECV  ' 2 }}</td>
												<td align=Center><button type="button" data-toggle="tooltip" title = "Restaurar" class="btn btn-primary btn-xs"><i class="fa fa-external-link-square" @click = "restoreTrashedTaxation(trashed.id)"></i></button></td>
												<td align=Center><button type="button" data-toggle="tooltip" title = "Apagar"  class="btn btn-danger btn-xs delConfirm" @click = "deleteTrashedTaxation(trashed.id)"><i class="fa fa-times"></i></button></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-link" @click = "restoreAllTrashedTaxation()">Restaurar Todos</button>
								<button type="button" class="btn btn-link" @click = "deleteAllTrashedTaxation()">Limpar Histórico</button>
								<button type="button" class="btn btn-success btn-xs" data-dismiss="modal"><i class="fa fa-check"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->
		<!-- iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii -->
		<div id="send-email" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Enviar Registo por email</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="">Email</label>
							<input v-model="sendTaxation" type="email" class="form-control" id="" placeholder="Introduza o email">
							<p v-show="!myValidation.email || sendTaxation == ''" class="help-block text-danger">Recorda-te de introduzir Email válido</p>
						</div>
					</div>
					<div class="modal-footer">
						<button v-show="myValidation.email && sendTaxation != ''" v-else @click="sendEmailTaxation(newTaxation.id)" type='submit' class='btn btn-sm btn-primary '><i class="fa fa-send"></i></button>

					</div>
				</div>
			</div>
		</div>
		<!-- iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii -->
		<div class="modal fade" id="view-taxation" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-eye faa-flash animated faa-slow text-success"></i> Detalhes</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<div class='table-responsive'>
									<table class='table table-hover'>
										<thead>
											<tr>
												<th class="text-center" colspan="2">INFORMAÇOES DO UTILIZADOR</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><b>Funcionário (Cobrador)</b></td>
												<td v-for="employee in newTaxation.employees">
													<i>{{ employee.name }}</i>
												</td>
											</tr>
											<tr>
												<td><b>Espaço</b></td>
												<td v-for="place in newTaxation.places">
													<i>{{ place.name }}</i>
												</td>
											</tr>
											<tr>
												<td><b>Valor</b></td>
												<td><span><i>{{ newTaxation.income }}</i></span></td>
											</tr>
											<tr>
												<td><b>Data</b></td>
												<td><span><i>{{ newTaxation.created_at | formatDate 'DD/MM/YYYY' }}</i></span></td>

											</tr>
											<tr>
												<td><b>Data de atualização</b></td>
												<td><i>{{ newTaxation.updated_at | formatDate 'DD/MM/YYYY' }}</i></td>
											</tr>
											<tr class="danger">
												<td><b>Responsável</b></td>
												<td><b>{{ newTaxation.author }}</b></td>
											</tr>

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button  @click="clearField" type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i></button>

						<span class="pull-left" v-for="place in newTaxation.places">
							<span v-for="trader in place.traders">
								<i class="label label-default">Espaço ocupado por: {{trader.name}}</i>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>




		<div class="modal fade" id="modal-delete-taxation" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h5 class="modal-title" id=""><i class="text-danger fa fa-exclamation-triangle faa-flash animated faa-slow"></i></h5>
					</div>

					<div class="modal-body">
						<h5 class="text-center text-info">Eliminar?</h5>
					</div>

					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-secondary btn-xs" data-dismiss="modal"><i class="fa fa-times"></i></button>
						<button  @keyup.enter="deleteTaxation(newTaxation.id)" @click="deleteTaxation(newTaxation.id)" type="button" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
					</div>
				</div>
			</div>
		</div>


		<!--------------------------------------------------------------------------------------------------------->
		<!-- Modal -->
		<div id="modal-create-taxation" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-plus faa-burst animated faa-slow"></i></h4>
					</div>
					<div class="modal-body">
						<form action="#" methods="POST">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.type ? ' has-error' : '' }} has-feedback">
											<select name="state" class="form-control" v-model="newTaxation.type" v-el:typecreate>
												<option value=""></option>
												<option value="1">Cobrança interno</option>
												<option value="2">Cobrança Externo</option>
											</select>
											<span v-if="errors.type" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.type }}</span>
										</div>
									</div>
								</div>
							</div>
							<hr>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.employee_id ? ' has-error' : '' }} has-feedback">
											<select :disabled = "newTaxation.type == 1" class="form-control" v-model="newTaxation.employee_id" v-el:employeecreate>
												<option value=""></option>
												<option  v-if="newTaxation.type == 2" v-for="employee in employees" value="{{employee.id}}">
													{{employee.name}}
												</option>
											</select>
											<p v-if="errors.employee_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.employee_id }}</p>
											<span v-if="newTaxation.type == 2 && newTaxation.employee_id == ''" class="text-help text-warning">Selecione o cobrador</span>
											<span v-if="newTaxation.type == 1" class="text-help text-success">O cobrador será o responsável pelo Registo</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.place_id ? ' has-error' : ''}} has-feedback">
											<!-------------------------------------------------------------------------->
											<select  class="form-control" v-model="newTaxation.place_id" v-el:placecreate>
												<option value=""></option>
												<option v-if="newTaxation.type == 2" v-for="place in placesExt" value="{{place.id}}">{{place.name}}</option>
												<option v-if="newTaxation.type == 1" v-for="place in placesInt" value="{{place.id}}">
													{{place.name}}
												</option>
											</select>
											<p v-if="errors.place_id" class="text-danger text-help"><i class="fa fa-times"></i>{{errors.place_id }}</p>
											<!-------------------------------------------------------------------------->
											<span v-if="newTaxation.type == 1 && placesInt.length == 0" class="text-danger">Nenhum registo de Espaço</span>
										</div>
									</div>

								</div>
							</div>

							<hr><!--------------------------------------------------------------------------------->
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.income ? ' has-error' : '' }} has-feedback">
											<input :disabled = "newTaxation.type == 1" type="number" class="form-control" placeholder="Valor cobrado" v-model="newTaxation.income" name="email"/>
											<i class="fa fa-usd form-control-feedback"></i>
											<p v-if="errors.income" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.income }}</p>
										</div>
										<span class="text-help text-success" v-if="newTaxation.type == 1 ">O valor será preenchido automaticamente</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div v-if="newTaxation.type == 1" class="modal-footer">
						<div class="col-md-12">

							<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

							<button :disabled = "newTaxation.place_id == ''" @click="createTaxation" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar</button>
						</div>
					</div>

					<div v-else class="modal-footer">
						<div class="col-md-12">

							<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

							<button :disabled = "newTaxation.income == '' || newTaxation.employee_id == ''" @click="createTaxation" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<!-- Modal -->
		<div id="modal-edit-taxation" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"><i class="fa fa-edit faa-burst faa-slow animated text-primary"></i></h4>
					</div>
					<div class="modal-body">
						<form action="#" methods="patch">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.type ? ' has-error' : '' }} has-feedback">
											<select name="state" class="form-control" v-model="newTaxation.type" v-el:typeedit>
												<option value=""></option>
												<option value="1">Cobrança interno</option>
												<option value="2">Cobrança Externo</option>
											</select>
											<span v-if="errors.type" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.type }}</span>
										</div>
									</div>
								</div>
							</div>
							<hr>

							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.employee_id ? ' has-error' : '' }} has-feedback">
											<select :disabled = "newTaxation.type == 1" class="form-control" v-model="newTaxation.employee_id" v-el:employeeedit>
												<option value=""></option>
												<option  v-if="newTaxation.type == 2" v-for="employee in employees" value="{{employee.id}}">
													{{employee.name}}
												</option>
											</select>
											<p v-if="errors.employee_id" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.employee_id }}</p>
											<span v-if="newTaxation.type == 2 && newTaxation.employee_id == ''" class="text-help text-warning">Selecione o cobrador</span>
											<span v-if="newTaxation.type == 1" class="text-help text-success">O cobrador será o responsável pelo Registo</span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.place_id ? ' has-error' : ''}} has-feedback">
											<!-------------------------------------------------------------------------->
											<select  class="form-control" v-model="newTaxation.place_id" v-el:placeedit>
												<option value=""></option>
												<option v-if="newTaxation.type == 2" v-for="place in placesExt" value="{{place.id}}">{{place.name}}</option>
												<option v-if="newTaxation.type == 1" v-for="place in placesInt" value="{{place.id}}">
													{{place.name}}
												</option>
											</select>
											<p v-if="errors.place_id" class="text-danger text-help"><i class="fa fa-times"></i>{{errors.place_id }}</p>
											<!-------------------------------------------------------------------------->
											<span v-if="newTaxation.type == 1 && placesInt.length == 0" class="text-danger">Nenhum registo de Espaço</span>
										</div>
									</div>

								</div>
							</div>

							<hr><!--------------------------------------------------------------------------------->
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-12">
										<div class="form-group {{ errors.income ? ' has-error' : '' }} has-feedback">
											<input :disabled = "newTaxation.type == 1" type="number" class="form-control" placeholder="Valor cobrado" v-model="newTaxation.income" name="email"/>
											<i class="fa fa-usd form-control-feedback"></i>
											<p v-if="errors.income" class="text-danger text-help"><i class="fa fa-times"></i> {{errors.income }}</p>
										</div>
										<span class="text-help text-success" v-if="newTaxation.type == 1 ">O valor será preenchido automaticamente</span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div v-if="newTaxation.type == 1" class="modal-footer">
						<div class="col-md-12">

							<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

							<button :disabled = "newTaxation.place_id == ''" @click="saveEditedTaxation(newTaxation.id)" class="btn btn-primary pull-right" type="submit"><i class="fa fa-refresh fa-spin"></i>&nbsp; &nbsp;&nbsp;Actualizar</button>
						</div>
					</div>

					<div v-else class="modal-footer">
						<div class="col-md-12">

							<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

							<button :disabled = "newTaxation.income == '' || newTaxation.employee_id == ''" @click="saveEditedTaxation(newTaxation.id)" class="btn btn-primary pull-right" type="submit"><i class="fa fa-refresh fa-spin"></i>&nbsp; &nbsp;&nbsp;Actualizar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
