
<div class="alert alert-success" transition="success" v-if="success">
	Permissão Adicionado com sucesso
</div>



<div class="row">
	<div class="col-md-4 pull-right">
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
			<input
			v-on:keyup.enter="doFilter"
			type="text"
			class="form-control"
			placeholder="Filtrar dados da tabela"
			aria-describedby="basic-addon1">
		</div>
	</div>
</div>

<hr>
<div class="row">
	<div class="col-md-12">
		<button class="btn btn-primary btn-flat btn-outline pull-left" name="button" data-toggle="modal" data-target="#modal-create-permission"><i class="fa fa-plus"></i> Novo</button>
	</div>
</div>
<br>

<div class="row">

	<div class="col-md-12">
		<div class='table-responsive'>
			<table class='table table-striped table-hover table-condensed'>
				<thead>
					<tr>
						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'name')">Nome da Permissão</a>
						</th>

						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'display_name' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'display_name' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'display_name')">Label</a>
						</th>

						<th>
							<i :class = "{'fa-sort-amount-asc': sortColumn == 'description' && sortInverse == 1, 'fa-sort-amount-desc':sortColumn == 'description' && sortInverse ==-1}" class="fa fa-sort" aria-hidden="true"></i>
							<a href="#" @click = "doSort($event, 'description')">Descriçãos</a>
						</th>

						<th  class="text-center" colspan="2"><span><i class="fa fa-cogs"></i></span></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="permission in permissions | filterBy filter.term | orderBy sortColumn sortInverse">
						<td>{{ permission.name }}</td>
						<td>{{ permission.display_name }}</td>
						<td>{{ permission.description }}</td>
						<td align=left>  <a data-toggle="modal" data-target="#modal-edit-permission" href="#"> <i class="fa fa-pencil text-primary" @click="getThisPermission(permission.id)" > </i></a></td>
						<td align=right><a data-toggle="modal" data-target="#modal-delete-permission" href="#"><i class="fa fa-trash text-danger" @click="getThisPermission(permission.id)"></i></a></td>
					</tr>
				</tbody>
			</table>
			<div class="col-md-12 pull-left">
				<Pagination :source.sync = "pagination" @navigate="navigate"></Pagination>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<div class="modal fade" id="modal-delete-permission" tabindex="-1" permission="dialog" aria-labelledby="" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="">Eliminar Permissão</h4>
					</div>
					<div class="modal-body">
						<h1>Eliminar Permissão {{newPermission.name}}</h1>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button  @keyup.enter="deletePermission(newPermission.id)" @click="deletePermission(newPermission.id)" type="button" class="btn btn-default">Eliminar Permissão</button>
					</div>
				</div>
			</div>
		</div>


		<!--------------------------------------------------------------------------------------------------------->
		<!-- Modal -->
		<div id="modal-create-permission" class="modal fade" permission="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Registar permission</h4>
					</div>
					<div class="modal-body">
						<validator name="validationew">
							<form action="#" methods="POST">
								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<input type="text" class="form-control" name="name" placeholder="Nome da permissão no sistema" v-model="newPermission.name" v-validate:name="['required']"/>
												<span class="fa fa-hand-stop-o form-control-feedback"></span>
												<p style="color:red;" v-if="$validationew.name.required && $validationew.name.touched"><span data-toggle="tooltip" title="Este campo tem de ser preenchida!">*</span></p>
											</div>
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<input type="text" class="form-control" name="display_name" placeholder="Nome da permissão a ser vizualizado" v-model="newPermission.display_name" v-validate:display_name="['required']"/>
												<span class="fa fa-eye form-control-feedback"></span>
												<p style="color:red;" v-if="$validationew.display_name.required && $validationew.display_name.touched"><span data-toggle="tooltip" title="Este campo tem de ser preenchida!">*</span></p>
											</div>
										</div>
									</div>
								</div>

								<hr><!---------------------------------------------------------------------------------------------------------------->

								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<textarea name="description" placeholder="Descrião da permissão..." class="form-control" rows="5" cols="40" id="description" v-model="newPermission.description"></textarea>
											</div>
										</div>
									</div>
								</div>
							</form>
						</validator>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Cancelar</button>

						<button :disabled = "!$validationew.valid" @click="createPermission" class="btn btn-primary pull-right" type="submit"><i class="fa fa-save"></i>&nbsp; &nbsp;&nbsp;Guardar</button>
					</div>
				</div>
			</div>
		</div>

		<!--------------------------------------------------------------------------------------------------------->

		<!-- Modal -->
		<div id="modal-edit-permission" class="modal fade" permission="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button @click="clearField" type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Editar Esta função</h4>
					</div>
					<div class="modal-body">
						<validator name="validation1">
							<form methods="patch">
								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<input type="text" class="form-control" name="name" placeholder="Nome da permissão no sistema" v-model="newPermission.name" v-validate:name="['required']"/>
												<span class="fa fa-hand-stop-o form-control-feedback"></span>
												<p style="color:red;" v-if="$validationew.name.required && $validationew.name.touched"><span data-toggle="tooltip" title="Este campo tem de ser preenchida!">*</span></p>
											</div>
										</div>
									</div>
								</div>


								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<input type="text" class="form-control" name="display_name" placeholder="Nome da permissão a ser vizualizado" v-model="newPermission.display_name" v-validate:display_name="['required']"/>
												<span class="fa fa-eye form-control-feedback"></span>
												<p style="color:red;" v-if="$validationew.display_name.required && $validationew.display_name.touched"><span data-toggle="tooltip" title="Este campo tem de ser preenchida!">*</span></p>
											</div>
										</div>
									</div>
								</div>

								<hr><!---------------------------------------------------------------------------------------------------------------->

								<div class="row">
									<div class="col-md-12">
										<div class="col-md-12">
											<div class="form-group has-feedback">
												<textarea name="description" placeholder="Descrião da permissão..." class="form-control" rows="5" cols="40" id="description" v-model="newPermission.description"></textarea>
											</div>
										</div>
									</div>
								</div>
							</form>
						</validator>
					</div>
					<div class="modal-footer">
						<button @click="clearField" type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp; &nbsp;&nbsp; Close</button>
						<button v-on:show="" @click="saveEditedPermission(newPermission.id)" type="button" class="btn btn-primary"><i class="fa fa-refresh fa-spin""></i>&nbsp; &nbsp;&nbsp; Atualizar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
